*{ 
    font-family: "Open Sans"; 
} 
body{ 
    margin: 0; 
}
#dieded{ 
    position: absolute; 
    right: 0; 
    top: 0; 
    width: 70px; 
    font-family: "Open Sans"; 
    z-index: 1000; 
} 
#dieded{ 
    position: absolute; 
    right: 0; 
    top: 0; 
    width: 70px; 
    font-family: "Open Sans"; 
    z-index: 10011111111111111111110; 
} 
#Sara{ 
    color: #883fd9; 
    background-color: #000; 
    overflow-x: scroll; 
    width: 100%; 
    height: 5em; 
    padding-top: 1em; 
    font-size: 20px; 
    font-weight: light; 
    /*top: 1em; */
    left: 0; 
    display: block; 
    z-index: 1000000; 
    position: relative; 
} 
#Sara p{ 
    margin: 0 17.5px; 
} 
#Sara textarea{ 
    margin: 0 17.5px; 
    width: 70% !important; 
    font-size: 12.9px;
    width: 1000px;
    position: absolute;
    width: 100% !important;
    left: 0;
    margin: 0;
    border-left: 250px dotted rgba(159, 32, 32, 0) !important;
    box-sizing: border-box;
    z-index: -1;
    border: none;
    top: 0;
    height: 100%;
    border-right: 80px dotted rgba(159, 32, 32, 0) !important;
    resize: none; 
    line-height: 20px; 
    color: #222; 
}

b{ 
    font-weight: bolder !important; 
    color: #b16bff; 
} 
#ckl{ 
    position: absolute; 
    top: 0; 
    right: 6px;  
    z-index: 10011111111111111111110; 
} 
#pause{ 
    position: relative; 
    right: 8px; 
    margin-top: -4.8em; 
    cursor: pointer; 
    float: right; 
    z-index: 1000001; 
    font-size: 13px; 
    color: #666769; 
} 
#parsed{ 
    display: inline-block; 
    padding-right: 1em !important; 
} 
#Sara p#parsed {
    font-size: inherit !important;
    position: static;
    margin: 0 38px 0 17.5px; 
}
