
@font-face

{
    font-family: 'icomoon';
    font-style: normal;
    font-weight: normal;
    src: url('../resources/fonts/icomoon.eot?4v3ev0');
    src: url('../resources/fonts/icomoon.eot?#iefix4v3ev0') format('embedded-opentype'), url('../resources/fonts/icomoon.woff?4v3ev0') format('woff'), url('../resources/fonts/icomoon.ttf?4v3ev0') format('truetype'), url('../resources/fonts/icomoon.svg?4v3ev0#icomoon') format('svg');
}

* {
    color: #2ecc71;
    font-family: "Open Sans", sans-serif;
}
a{
    text-decoration: none;
    }
html,
body {
    height: 100%;
    background-color: #ecf0f1;
}
header {
    background-color: #fff;
    border-bottom: solid 6px #ccc;
    font-size: 24px;
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
}
header>nav>ul>li {
    display: table-cell;
    list-style-type: none;
    padding: 0 10px 0 5px;
    vertical-align: middle;
}
header nav {
    display: table;
    height: 100%;
    width: 100%;
}
header nav .back-arrow {
    font-family: "icomoon";
    padding-left: 5px;
        
}
header nav .index-arrow {
    font-family: "icomoon";
    padding-left: 5px; 
    position: absolute;
    right: 4px;
    top: 7px;

}
header nav .back-arrow:before
{
  content:"\e635"
}
header nav .index-arrow:before {
    content: "\e605"
    
}
header nav .index-arrow.open:before {
    color: #2ecc71;
    content: "\e604";
}
header nav ul {
    display: table-row;
    height: 100%;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
header nav ul li#controls span {
    cursor: pointer;
    position:absolute;
    top:0;
}
header nav ul li#controls #play {
    font-family: "icomoon";
    font-size: 40px;
}
header nav ul li#controls #play:before {
     content: "\e603"
}
header nav ul li#controls #play.playing:before {
     content: "\e602"
}
header nav ul li.index .text {
    left: 28px;
    padding-left: 7px;
    position: absolute;
    top: 3px;
    z-index: 1;
}
header nav ul li#right-menu {
    cursor: pointer;
    padding-right: 46px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}
header nav ul li#right-menu #profileSettings.open {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    height: 150px;
    position: absolute;
    right: 0;
    top: -3px;
    width: 80px;
    z-index: -1;
}
header nav ul li#right-menu #dots-icon:before, .dots-icon:before {
    content: "\e608";
    font-family: "icomoon";
    font-size: 16px;
}
header nav ul li#right-menu #profileSettings {
    -moz-transition: height 100ms ease-in-out, box-shadow 100ms ease-in-out, opacity 100ms ease-in-out;
    -ms-transition: height 100ms ease-in-out, box-shadow 100ms ease-in-out, opacity 100ms ease-in-out;
    -o-transition: height 100ms ease-in-out, box-shadow 100ms ease-in-out, opacity 100ms ease-in-out;
    -webkit-transition: height 100ms ease-in-out, box-shadow 100ms ease-in-out, opacity 100ms ease-in-out;
    background-color: #fff;
    box-shadow: none;
    height: 0;
    position: absolute;
    right: 0;
    top: -3px;
    transition: height 100ms ease-in-out, box-shadow 100ms ease-in-out, opacity 100ms ease-in-out;
    width: 80px;
    z-index: 3;
}
header nav ul li#right-menu #profileTrigger {
    height: 41px;
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    z-index: 1;
}
header nav ul li#right-menu .back-arrow {
    position: absolute;
    right: 5px;
    top: 6px;
}
header nav ul li#right-menu #profile {
    position: absolute;
    right: 30px;
    top: 3px;
    height: 35px;
}
header nav ul li#right-menu #profile #profile-pic {
    border-radius: 50%;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 25px;
}
header nav ul li#right-menu #store {
    left: 0;
    margin-right: 12px;
    position: absolute;
    top: 3px;
}
header nav ul li#right-menu #store:before {
    content: "\e600";
    font-family: "icomoon";
    font-size: 28px;
    margin-right: 2px;
}
header nav ul li#right-menu #dots {
    height: 35px;
    margin-right: 55px;
    padding-left: 35px;
    padding-top: 3px;
}
header nav ul li#index {
    padding: 0;
    position: relative;
    width: 130px;
}
header nav ul li#index #index-menu.open {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    display: block;
    height: 130px;
    left: 0;
    opacity: 1;
    padding-top: 47px;
    position: absolute;
    top: 0;
    z-index: 2;
}
header nav ul li#index #index-trigger {
    cursor: pointer;
    height: 41px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}
header nav ul li#index #index-trigger .back-arrow {
    position: absolute;
    top: 4px;
    left: -2px;
}
header nav ul li#index #index-trigger #index-text {
    left: 1em;
    position: absolute;
    top: 3px;
}
header nav ul li#index #index-menu {
    -moz-transition: height 100ms ease-in-out, box-shadow 100ms ease-in-out, opacity 100ms ease-in-out;
    -ms-transition: height 100ms ease-in-out, box-shadow 100ms ease-in-out, opacity 100ms ease-in-out;
    -o-transition: height 100ms ease-in-out, box-shadow 100ms ease-in-out, opacity 100ms ease-in-out;
    -webkit-transition: height 100ms ease-in-out, box-shadow 100ms ease-in-out, opacity 100ms ease-in-out;
    background-color: #fff;
    height: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: height 100ms ease-in-out, box-shadow 100ms ease-in-out, opacity 100ms ease-in-out;
    width: 130px;
}
header nav ul li#index #index-menu ul li.open {
    cursor: pointer;
    display: block;
    font-size: 16px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-top: 5px;
    width: 100%;
}
header nav ul li#index #index-menu ul li {
    color: #afafaf;
    display: none;
    list-style: none;
    overflow: hidden;
    padding-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
header nav ul li#index #index-menu ul li a {
    color: #afafaf;
    text-decoration: none;
}
header nav ul li#index .text.open,
header nav ul li#index span:first-child.open {
    color: #2ecc71;
}
input, textarea {
    background-color: #fff;
    border: none;
    border-radius: 4px;
}
input:focus,textarea:focus {
    outline: 0;

}
.button {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}
#video {
    margin-top: 6px
}
#example_video_1 {
    width: 100%
}
#Store {
    background-color: #ecf0f1;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
#Store #actualStore {
    background-color: #ecf0f1;
    bottom: 7px;
    position: absolute;
    width: 100%;
}
#Store #actualStore #storeSection {
    background-color: #fff;
    display: inline-block;
    float: right;
    height: 100%;
    padding: 40px;
    width: 70%;
}
#Store #actualStore #storeList {
    background-color: #fff;
    display: inline-block;
    height: 100%;
    width: 20%;
}
#Store #actualStore #storeList ul li {
    color: #afafaf;
    cursor: pointer;
    display: block;
    font-size: 25px;
    list-style: none;
    overflow: hidden;
    padding-bottom: 5px;
    padding-top: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
header.open {
    background-color: #2ecc71;
    border-bottom: solid 6px #27ae60;
    height: 40px;
    width: 100%;
    z-index: 3;
}
header.open nav ul li input{
    background-color: #2ecc71;
    border-bottom: solid 1px #fff;
    color:#fff;
    z-index: 3;
}
#Store.open {
    display: block
}
.openedStore {
    color: #fff
}
/*sombra #ccc
normal #fff*/
#feed
{
 width: 80%;
    margin-top: 60px ;

}
#feed  .story{
    margin: 10px auto;   
background-color: #fff;
width: 500px;
max-width: 90%;
padding: 10px;
text-align: center;
}
#feed  .story.img #picture{
     max-height: 550px;
}
.story .options
{
    height: auto;
 }  
.story .options ul li 
{
    font-size: 40px !important;
 } 
.story .info
{
    height: auto;
    cursor: auto;
    text-align: left
 }   
.info  img{
    height: 40px !important;
    width: 40px!important;
    cursor: pointer;
}
.story .info  p{
    width: auto !important;
    font-size: 15px
}
.info  .time {
    color: #aaa;
    font-size: 14px;
    margin: 0;
   
}
.current
{
   -webkit-box-shadow: 0px 0px 3px 0px rgba(46, 204, 113, 1);
-moz-box-shadow:    0px 0px 3px 0px rgba(46, 204, 113, 1);
box-shadow:         0px 0px 3px 0px rgba(46, 204, 113, 1);
}
.story .info  .time {
   white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.info  p a{
  font-weight: bold;
    text-decoration: none;
}
#feed  .story .title{
 font-size: 20px;
    color: #666;
    margin: 10px 0
}
#feed  .story .more {
text-align: center;
    margin: 0;
   
    padding: 15px 0;
}
#feed  .story .more a{
text-align: right;
text-decoration: none;

}
#feed  .story img{
max-height:  370px;
    max-width:  100%;
cursor: pointer
}
#wrapper
{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: 3;
}   
.theater
{
    display:none;
}
#theater
{
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    position: fixed;
    height: 500px;
    background-color: #fff;
    z-index: 3;
    top: 20px;
    max-width: 90%;
}
#theater #picContainer
{
    position: relative;
    height: 100%;
    background-color: #000
} 
#theater #bigPic
{
   position: absolute;
top: 0;
bottom: 0;
left: 0;

margin: auto ;

}

#theater .info p
{
    
   font-size: 14px;
       width: auto !important;


}
#theater .title
{
    
  color: #666;
    font-weight: bold

}
#theater .more
{
  color: #666 !important;
  font-size: 15px;
    margin: 0;
}

.options
{
    
    height: 60px;
    

}
.options ul
{
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 50px;
    height: 100%;
    vertical-align: middle;
    text-align: center;
} 
#theater .options
{
   
    bottom: 0;
position: absolute;
width: 100%;
left: 0;
    
} 
#theater .options ul
{
   
    line-height: 0;
    
} 
#theater .options ul li
{
   
font-size: 40px    
} 
.options ul li
{
display: inline-block;
    width: 30%;;
    margin: 0;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-family: "icomoon";
    line-height:50px;
    font-size: 30px;
    cursor: pointer;
    
    
} 
.options ul li.bookmark:after
{
content: "\f097"
} 
.options ul li.bookmark.true:after
{
content: "\f02e"
} 
.options ul li.star:after
{
content: "\e60d"
} 
.options ul li.star.true:after
{
content: "\e60c"
} 
.options ul li.read:after
{
content: "\e627"
} 
#theater .comments
{
    width: 300px;
    display: inline-block;
     padding: 20px;
    position: absolute;
top: 0;
right: 0;
}
#theater .comments #close
{
    text-align: right;
    font-size: 9px;
    color: #bbb;
    margin: 5px 5px;
    font-family: "icomoon";
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px;
    cursor: pointer
    
}

#theater .comments #close:before
{
    content: "\e60e"
}
#sidebar{
    position: fixed;
    right: 0;
    top: 46px;
    width: 205px;
    background-color: #fff;
    z-index: 1;
}
#sidebar .slimScrollDiv{
    position: absolute;
    bottom: 0;
    height: 100% !important;
    width: 100% !important;
}
#sidebar #container{
    position: relative;

}
#sidebar  #container #resizeBottom{
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
    background-color: #fff;
}
#sidebar  #container #resizeBottom #chat
{
    padding: 0;
    height: 100% !important;
}
#sidebar  #container #resizeTop{
    position: absolute;
    top: 0;
    height: 50%;
    width: 100%;
}
#sidebar  #container #resizeTop #notifications
{
    padding: 0;
    height: 100% !important;
}
#sidebar  #container #resizeTop #notifications .info
{
    padding: 4px 0;
    border-bottom: solid 1px #ddd;
}
.info 
{
    position: relative;
    height: auto;
    cursor: pointer;
}

#sidebar  #container #resizeTop #notifications .info:first-child
{
    
    margin-top: 5px !important
}

.info b
{
    color: #666;
}

.info img
{
    position: static;
    display: inline-block;
}
.info p
{
    margin: 0;
        color: #666;

    position: static;
   font-size: 13px ;
    display: inline-block;
    width:  140px;
    vertical-align: top;
}
.ui-resizable-handle{
    width:0;
    height:7px !important; 
    background-color: #ccc;
}
#sidebar #search
{
    position: absolute;
    bottom: 0;
    font-size: 14px;
    text-align: center;
    background-color: #fff;
    width: 100%;
    padding: 5px 5px 5px 10px;
}
#sidebar #search input
{
    color: #666;
}
#sidebar #search #searchIcon
{
    
    font-style: normal;
    font-family: "icomoon";
    color: #666;
 
}
#sidebar  #search #searchIcon:before
{
    content: "\e60b"
}
#sidebar ul {

    list-style: none;
    padding: 0 10px;
    margin: 0;
    
}

#sidebar ul li{
    height: 35px;
    margin-bottom: 4px;
    width: 100%;
    cursor: pointer
}
#sidebar ul li p{
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    display: inline-block;
    padding-left: 6px;
    font-family: Helvetica, "Open Sans";
    width: 115px;

}
#sidebar ul li span{
    font-family: "icomoon";
    font-size: 9px;
    width: 10px;
    float: right;
    margin-top: 15px
}
#sidebar ul li.connected span:before{
    content: "\e615";
    color: #2ecc71;
}
#sidebar ul li span:before{
    content: "\e615";
    color: #ccc;
}

#sidebar ul li img{
   height: 35px;
    
}
#chats
{
    bottom: 0;
    left: 0;
    position: fixed;
    overflow-y: hidden;

}
#chats .chats
{
    white-space: nowrap ;
    padding: 0 5px;
    float: right;
    overflow-x: auto;
    overflow-y: hidden;
    text-align: right;
      direction:rtl;

}
#chats .chats .chat 
{

    background-color: #fff;
    margin-right: 1px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    height: 19px;
    border: solid 1px #ccc;
    width: 160px;
    display: inline-block;
    direction:ltr;
    padding-bottom: 9px;
    vertical-align: bottom;
}
#chats .chats .chat.open 
{
    height: 285px;
    width: 260px;
    border-top: none;
}
#chats .chats .chat.open .chatTitle
{
    width: 100%;
    background-color: #2ecc71;
    color: #fff;
    text-align: left;
    height: 30px;
    line-height: 30px;
    border-right: 1px solid #2ecc71;
    border-left: 1px solid #2ecc71;
    margin-left: -1px;
}
#chats .chats .chat.open .chatTitle p{
    width: 170px;
    background-color: #2ecc71;
    color: #fff;
    text-align: left;
    height: 30px;
    line-height: 30px;
    font-size: 17px;
    padding-left: 10px;
    border: none;
}
#chats .chats .chat.open .chatTitle .close
{
    float: right;
        color: #cfc;
    padding-right: 10px;
    line-height: 27px;
width: 19px}
#chats .chats .chat.open .chatTitle .close:after
{
display: block;
    float: right;
}
#chats .chats .chat.open .chatTitle .close:hover
{
    color: #fff;
}
#chats .chats .chat.open .chatBox
{
    width: 100%;
   height: 265px;
    position: relative;
    display: block;
    background-color: #ecf0f1
}
#chats .chats .chat.open .chatBox .messages 
{
   box-sizing: border-box;
    padding: 04px;
    display: inline-block;
    width: 100%;
    position: absolute;
    bottom: 28px;
    height: 237px;
    overflow-y: auto;
    left: 0;
}
#chats .chats .chat.open .chatBox .messages .sent
{
     border-radius: 1em;
     background-color: #0083ff;
    font-size: 13px;
    color: #fff;
    resize: none;
    width: auto !important;
    max-width: 80%;
    display: inline-block;
    clear:both;
    float: right;
    text-align: left;
    padding: 0;
    margin: 5px 0 0 0;
    white-space: normal;
    padding: 5px;
    word-wrap: break-word;
    
}

#chats .chats .chat.open .chatBox .newMessage
{
  width: 100%;
   position: absolute;
    bottom: 0;
    text-align: left;
    background-color: #fff;
    padding: 0;
    max-height: 80px
}
#chats .chats .chat.open .chatBox .newMessage textarea
{
     box-sizing: border-box;
  max-height: 80px;
  min-height: 28px;
  width: 100%;
    padding: 8px 60px 0 5px;
    border-radius: 0;
    color: #000;
    resize: none;
    font-size: 13px;
    margin: 0;
    font-weight: 400;
    vertical-align: middle;
    overflow: auto;
    height: 100%;
    line-height: 14px
}
#chats .chats .chat .chatBox
{

    display: none;
}
#chats .chats .chat .chatTitle 
{
    cursor: pointer;
    height: 24px;
    width: 100%;
padding: 0;
    text-align: center;
    color: #555;
    font-size: 15px;
line-height: 27px;
overflow: hidden;
text-overflow: ellipsis;
        color: #555;
    line-height: 27px;


}
#chats .chats .chat .chatTitle p
{
  color: inherit;
    line-height: inherit;
    width: 120px;
    font-size: 15px;
overflow: hidden;
text-overflow: ellipsis;
margin: 0 0 0 5px;
display: inline-block;
    vertical-align: top;

}
#chats .chats .chat .chatTitle .close
{
    font-family: "icomoon";
    width: 25px;
    height: 28px;
    vertical-align: top;
    font-size: 10px;
    padding-top: 2px;
    display: inline-block;
    color: #aaa;
}
#chats .chats .chat .chatTitle .close:hover
{
    color: #555;
}

#chats .chats .chat .chatTitle .close:after
{
    content: "\e60e";
    display: none
}
#chats .chats .chat .chatTitle .close.visible:after
{
    display: block;
}
.tool
{
    width: 280px; 
    height:150px; 
    background: #fff; 
    position:relative;
}
.tool .datos .rol
{
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 5px;
    margin: auto;
    width: 100%;
    font-size: 20px; 
    background: #2ecc71;
}
.tool .datos .username
{
    position: absolute;
    top: 55px;
    margin: auto;
    width: 100%;
    font-size: 16px; 
    padding-left: 5px; 
    box-sizing: border-box;
}
.tool .datos
{
    position: absolute; 
    z-index: 3; 
    bottom: 0; 
    left: 114px; 
    width: 161px; 
    height:109px;
}
.tool .datos .actions
{
    margin: 0;
    padding: 0;
}
.tool .datos .actions li
{
    display: inline-block;
    width: 
    list-style: none;
    width: 30%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
}
.tool img
{
    z-index: 2; 
    border-radius: 50%; 
    margin:5px;
    position:absolute; 
    border: 3px solid #2ecc71; 
    padding: 4px; 
    bottom: 0;
    height: 90px;
    width: 90px;
}
.insignia
{
    position: absolute; 
    width: 100%; 
    border-bottom: 3px solid #f1c40f; 
}
.buscar
{
        border-bottom: 1px solid #2ecc71;
   font-size: 16px;
   width: 350px;
    padding: 0;
    margin: 0;
    border-radius: 0;
}

.agregar.sent
{
    color: blue;
}
#acordeon{
    margin-top:47px;
}
.ui-accordion .ui-accordion-content{
    padding: 0 4px !important;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr, .ui-corner-left, .ui-corner-tl 
{
    border-radius: 0 !important;
}
.ui-accordion-header{
    background: #fff !important;
    border: 1px solid #ccc !important;
    outline: none !important;
    margin: 0 !important;
    font-weight: normal !important;
}
.ui-accordion{
    margin: 0 !important;
    
}
.curso{
    height: 9px;
    line-height: 0.57
}
.acordeon .acordeon .data{
    padding: 5px !important;
    display: inline-block;
}
.data table{
    height: 50px;
    width: 100%;
    /*line-height: 0; */ 
}
table .static{
    width:15%;

}
table .description{
    box-sizing: content-box;
    padding: 0 6px;
    text-align: left;
    width:50%;
}
table .dots{
    border-left: 1px solid #ccc;
    box-sizing: content-box;
    padding: 0 6px;
    text-align: left;
    width:17.5%;
    position: relative;
}table .achievements{
    border-left: 1px solid #ccc;
    box-sizing: content-box;
    padding-left: 6px;
    text-align: left;
    width:17.5%;
    white-space: nowrap;
    max-width:0;
    overflow-x: auto;
}
table .static{
    padding-right: 6px;
    border-right: 1px solid #ccc;
    box-sizing: content-box;
}
.static img{
    height:50px;
    vertical-align: middle;
   
}
.area, .curso{
    color: #666 !important
}
.data table tr th p{
    height: 100%;
    overflow-y: scroll; 
    font-weight: normal;
    font-size: 13px;
    color: #666;
    height: 50px; 
}
.value{
    font-weight: normal;
    font-size: 22px;
    margin-left: 21px;
}
.dots-icon{
    font-weight: normal;
    vertical-align: middle;
    position: absolute;
    top: 16px; 
    line-height: 45px;
}
.curso a{
    position: absolute;
    right: 5px;
    color:#2ecc71 !important;
}
.curso a:hover{
    color:rgb(136, 214, 169) !important;
}
.static-tooltip{
    max-width: 100% !important;
    left: 0 !important;
    margin: 22px 22px;

}
.static-tooltip img{
    max-width: 100% !important;
    border: 1px solid #2ecc71 !important;
    box-sizing: border-box;
}

body .ui-tooltip{
    border: 1px solid #bbb !important;
    padding: 5px 5px 0 5px;
}
.achievements img{
    height: 50px;
    vertical-align: middle;
    display: inline-block;
}
.wrapper{
    display: none;
}
.wrapper.visible{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2
}
.achievements-tooltip .ui-tooltip-content{
    color: #f1c40f;
    vertical-align: middle

}
body .achievements-tooltip{
    padding: 3px 7px !important;
    border-bottom-width: 3px !important 
}
#profile div{ 
    display: inline-block !important; 
} 
#root
{
    margin-top: 46px !important; 
    margin-bottom: -47px !important; 
}
#buscar 
{ 
  position: absolute;
  left: 0;
  width: 100%;
  padding-left: 135px;
  height: 40px;
  padding-top: 4px;
  box-sizing: border-box;
  padding-right: 300px;
} 
.buscar 
{ 
    max-width: 100%; 
} 
header nav ul li#right-menu #store::before {
    /*background-image: url("https://www.freepnglogos.com/uploads/santa-hat-png/download-santa-hat-png-transparent-image-and-clipart-2.png");*/ 
    background-repeat: no-repeat;
    height: 16px;
    display: inline-block;
    width: 16px;
    background-size: contain;
    background-position-x: -3px;
}
