#gallery {
	text-align: center; 
	padding: 20px 205px 0 0; 
}
#gallery img{
	display: inline-block;
	height: 220px;
    cursor: pointer; 
}
.wrapper{
    display: none;
}
.wrapper.visible{ 
    display: block; 
    position: absolute; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    z-index: 1; 
} 
header.open .buscar::placeholder{
    color: #fff;
}
header nav ul li#right-menu #store::before {
    /*background-image: url("https://www.freepnglogos.com/uploads/santa-hat-png/download-santa-hat-png-transparent-image-and-clipart-2.png");*/ 
    background-repeat: no-repeat;
    height: 16px;
    display: inline-block;
    width: 16px;
    background-size: contain;
    background-position-x: -3px;
}
#notifications .info img{ 
    top: 0; 
    height: 100% !important; 
    object-fit: contain; 
} 
#sidebar{
    position: fixed;
    right: 0;
    top: 46px;
    width: 205px;
    background-color: #fff;
    z-index: 1;
}
#sidebar .slimScrollDiv{
    position: absolute;
    bottom: 0;
    height: 100% !important;
    width: 100% !important;
}
#sidebar #container{
    position: relative;

}
#sidebar  #container #resizeBottom{
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
    background-color: #fff;
}
#sidebar  #container #resizeBottom #chat
{
    padding: 0;
    height: 100% !important;
}
#sidebar  #container #resizeTop{
    position: absolute;
    top: 0;
    height: 50%;
    width: 100%;
}
#sidebar  #container #resizeTop #notifications
{
    padding: 0;
    height: 100% !important;
}
#sidebar  #container #resizeTop #notifications .info
{
    padding: 4px 0;
    border-bottom: solid 1px #ddd;
}
.info 
{
    position: relative;
    height: auto;
    cursor: pointer;
}
#sidebar  #container #resizeTop #notifications .info:first-child
{
    
    margin-top: 5px !important
}
#sidebar .info b
{
    color: #666;
}
.info  img{
    height: 40px !important;
    width: 40px!important;
    cursor: pointer;
    position: absolute; 
}
#notifications .info img{ 
    top: 0; 
    height: 100% !important; 
    object-fit: contain; 
} 
