#gallery {
	text-align: center;
	padding: 20px 0;
}
#gallery img{
	display: inline-block;
	height: 220px;
}
.wrapper{
    display: none;
}
.wrapper.visible{ 
    display: block; 
    position: absolute; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    z-index: 1; 
} 
header.open .buscar::placeholder{
    color: #fff;
}
header nav ul li#right-menu #store::before {
    background-image: url("https://www.freepnglogos.com/uploads/santa-hat-png/download-santa-hat-png-transparent-image-and-clipart-2.png");
    background-repeat: no-repeat;
    height: 16px;
    display: inline-block;
    width: 16px;
    background-size: contain;
    background-position-x: -3px;
}