@font-face

{
    font-family: 'icomoon';
    font-style: normal;
    font-weight: normal;
    src: url('../resources/fonts/icomoon.eot?4v3ev0');
    src: url('../resources/fonts/icomoon.eot?#iefix4v3ev0') format('embedded-opentype'), url('../resources/fonts/icomoon.woff?4v3ev0') format('woff'), url('../resources/fonts/icomoon.ttf?4v3ev0') format('truetype'), url('../resources/fonts/icomoon.svg?4v3ev0#icomoon') format('svg');
}
* {
    color: #2ecc71;
    font-family: "Open Sans", sans-serif;
}
html,
body {
    height: 100%;
    background-color: #ecf0f1;
}
header {
    background-color: #fff;
    border-bottom: solid 6px #ccc;
    font-size: 24px;
    height: 47px;
    width: 100%;
}
header>nav>ul>li {
    display: table-cell;
    list-style-type: none;
    padding: 0 10px 0 5px;
    vertical-align: middle;
}
header nav {
    display: table;
    height: 100%;
    width: 100%;
}

header nav .back-arrow {
    font-family: "icomoon";
    padding-left: 5px;
        
}
header nav .index-arrow {
    font-family: "icomoon";
    padding-left: 5px; 
    position: absolute;
    right: 4px;
    top: 7px;

}
header nav .back-arrow:before
{
  content:"\e635"
}
header nav .index-arrow:before {
    content: "\e605"
    
}
header nav .index-arrow.open:before {
    color: #2ecc71;
    content: "\e604";
}
header nav ul {
    display: table-row;
    height: 100%;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
header nav ul li#controls span {
    cursor: pointer;
    position:absolute;
    top:0;
}
header nav ul li#controls #play {
    font-family: "icomoon";
    font-size: 40px;
}
header nav ul li#controls #play:before {
     content: "\e603"
}
header nav ul li#controls #play.playing:before {
     content: "\e602"
}
header nav ul li.index .text {
    left: 28px;
    padding-left: 7px;
    position: absolute;
    top: 3px;
    z-index: 1;
}
header nav ul li#right-menu {
    cursor: pointer;
    padding-right: 46px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}
header nav ul li#right-menu #profileSettings.open {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    height: 150px;
    position: absolute;
    right: 0;
    top: -3px;
    width: 80px;
    z-index: -1;
}
header nav ul li#right-menu #dots-icon:before {
    content: "\e608";
    font-family: "icomoon";
    font-size: 16px;
}
header nav ul li#right-menu #profileSettings {
    -moz-transition: height 100ms ease-in-out, box-shadow 100ms ease-in-out, opacity 100ms ease-in-out;
    -ms-transition: height 100ms ease-in-out, box-shadow 100ms ease-in-out, opacity 100ms ease-in-out;
    -o-transition: height 100ms ease-in-out, box-shadow 100ms ease-in-out, opacity 100ms ease-in-out;
    -webkit-transition: height 100ms ease-in-out, box-shadow 100ms ease-in-out, opacity 100ms ease-in-out;
    background-color: #fff;
    box-shadow: none;
    height: 0;
    position: absolute;
    right: 0;
    top: -3px;
    transition: height 100ms ease-in-out, box-shadow 100ms ease-in-out, opacity 100ms ease-in-out;
    width: 80px;
    z-index: -1;
}
header nav ul li#right-menu #profileTrigger {
    height: 47px;
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    z-index: 1;
}
header nav ul li#right-menu .back-arrow {
    position: absolute;
    right: 5px;
    top: 6px;
}
header nav ul li#right-menu #profile {
    position: absolute;
    right: 30px;
    top: 3px;
}
header nav ul li#right-menu #profile #profile-pic {
    border-radius: 50%;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 25px;
}
header nav ul li#right-menu #store {
    left: 0;
    margin-right: 12px;
    position: absolute;
    top: 3px;
}
header nav ul li#right-menu #store:before {
    content: "\e600";
    font-family: "icomoon";
    font-size: 28px;
    margin-right: 2px;
}
header nav ul li#right-menu #dots {
    height: 38px;
    margin-right: 55px;
    padding-left: 35px;
    padding-top: 3px;
}
header nav ul li#index {
    padding: 0;
    position: relative;
    width: 130px;
}
header nav ul li#index #index-menu.open {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    display: block;
    height: 130px;
    left: 0;
    opacity: 1;
    padding-top: 47px;
    position: absolute;
    top: 0;
    z-index: 2;
}
header nav ul li#index #index-trigger {
    cursor: pointer;
    height: 47px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}
header nav ul li#index #index-trigger .back-arrow {
    position: absolute;
    top: 4px;
    left: -2px;
}
header nav ul li#index #index-trigger #index-text {
    left: 1em;
    position: absolute;
    top: 3px;
}
header nav ul li#index #index-menu {
    -moz-transition: height 100ms ease-in-out, box-shadow 100ms ease-in-out, opacity 100ms ease-in-out;
    -ms-transition: height 100ms ease-in-out, box-shadow 100ms ease-in-out, opacity 100ms ease-in-out;
    -o-transition: height 100ms ease-in-out, box-shadow 100ms ease-in-out, opacity 100ms ease-in-out;
    -webkit-transition: height 100ms ease-in-out, box-shadow 100ms ease-in-out, opacity 100ms ease-in-out;
    background-color: #fff;
    height: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: height 100ms ease-in-out, box-shadow 100ms ease-in-out, opacity 100ms ease-in-out;
    width: 130px;
}
header nav ul li#index #index-menu ul li.open {
    cursor: pointer;
    display: block;
    font-size: 16px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-top: 5px;
    width: 100%;
}
header nav ul li#index #index-menu ul li {
    color: #afafaf;
    display: none;
    list-style: none;
    overflow: hidden;
    padding-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
header nav ul li#index #index-menu ul li a {
    color: #afafaf;
    text-decoration: none;
}
header nav ul li#index .text.open,
header nav ul li#index span:first-child.open {
    color: #2ecc71;
}
input {
    background-color: #fff;
    border: none;
    border-radius: 4px;
}
input:focus {
    border-bottom: 2px #ccc solid;
    outline: 0;
}
.button {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}
#video {
    margin-top: 6px
}
#example_video_1 {
    width: 100%
}
#Store {
    background-color: #ecf0f1;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
#Store #actualStore {
    background-color: #ecf0f1;
    bottom: 7px;
    position: absolute;
    width: 100%;
}
#Store #actualStore #storeSection {
    background-color: #fff;
    display: inline-block;
    float: right;
    height: 100%;
    padding: 40px;
    width: 70%;
}
#Store #actualStore #storeList {
    background-color: #fff;
    display: inline-block;
    height: 100%;
    width: 20%;
}
#Store #actualStore #storeList ul li {
    color: #afafaf;
    cursor: pointer;
    display: block;
    font-size: 25px;
    list-style: none;
    overflow: hidden;
    padding-bottom: 5px;
    padding-top: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
#Store #storeHeader {
    background-color: #2ecc71;
    border-bottom: solid 7px #27ae60;
    height: 47px;
    width: 100%;
}
#Store.open {
    display: block
}
.openedStore {
    color: #fff
}
/*sombra #ccc
normal #fff*/

