body{ 
  width: 100vw; 
  height: 100vh; 
  margin: 0px; 
} 
div#Start{ 
  width: 20px; 
  height: 20px; 
  position: absolute; 
  top: calc(50% - 10px); 
  left: 117px; 
  background: #6d330a; 
} 
div#fantasma_de_Start{ 
  width: 20px; 
  height: 20px; 
  position: absolute; 
  top: calc(50% - 10px); 
  left: 117px; 
  background: #0000; 
  border: 1px #33df9e dotted; 
} 
body > aside{ 
	height: 100%; 
	width: 100%; 
	z-index: 1; 
	position: absolute; 
} 
body > aside > svg{ 
	cursor: w-resize; 
	height: 100%; 
	width: 100%; 
	box-sizing: border-box; 
	position: absolute; 
} 
p#loaded{ 
	position: absolute; 
	bottom: 0; 
	font-family: monospace; 
	word-break: break-word; 
} 
/*Hoja de estilos en cascada (cascade style sheet)*/