.ui-tooltip 
{ 
    z-index: 1 !important;
} 
@font-face
{
    font-family: 'icomoon';
    font-style: normal;
    font-weight: normal;
    src: url('/resources/fonts/icomoon.eot?4v3ev0');
    src: url('/resources/fonts/icomoon.eot?#iefix4v3ev0') format('embedded-opentype'), url('/resources/fonts/icomoon.woff?4v3ev0') format('woff'), url('/resources/fonts/icomoon.ttf?4v3ev0') format('truetype'), url('/resources/fonts/icomoon.svg?4v3ev0#icomoon') format('svg');
}
* {
    color: #2ecc71;
    font-family: "Open Sans", sans-serif;
}
a{
    text-decoration: none;
    }
a:hover{
    text-decoration: underline;
    }
html,
body {
    height: 100%;
    background-color: #ecf0f1;
}
header {
    background-color: #fff;
    border-bottom: solid 6px #ccc;
    font-size: 24px;
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}
header>nav>ul>li {
    display: table-cell;
    list-style-type: none;
    padding: 0 10px 0 5px;
    vertical-align: middle;
}
header nav {
    display: table;
    height: 100%;
    width: 100%;
}
header.open {
    background-color: #2ecc71;
    border-bottom: solid 6px #27ae60;
    height: 40px;
    width: 100%;
    z-index: 3;
}
header.open nav ul li input{
    background-color: #2ecc71;
    border-bottom: solid 1px #fff;
    color:#fff;
    z-index: 3;
}
header.open .buscar::placeholder{
    color: #fff;
}

header nav .back-arrow {
    font-family: "icomoon";
    padding-left: 5px;
        
}
header nav .index-arrow {
    font-family: "icomoon";
    padding-left: 5px; 
    position: absolute;
    right: 4px;
    top: 7px;

}
header nav .back-arrow:before
{
  content:"\e635"
}
header nav .index-arrow:before {
    content: "\e605"
    
}
header nav .index-arrow.open:before {
    color: #2ecc71;
    content: "\e604";
}
header nav ul {
    display: table-row;
    height: 100%;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
header nav ul li#controls span {
    cursor: pointer;
    position:absolute;
    top:0;
}
header nav ul li#controls #play {
    font-family: "icomoon";
    font-size: 40px;
}
header nav ul li#controls #play:before {
     content: "\e603"
}
header nav ul li#controls #play.playing:before {
     content: "\e602"
}
header nav ul li.index .text {
    left: 28px;
    padding-left: 7px;
    position: absolute;
    top: 3px;
    z-index: 1;
}
header nav ul li#right-menu {
    cursor: pointer;
    padding-right: 46px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}
header nav ul li#right-menu #profileSettings.open {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    height: 150px;
    position: absolute;
    right: 0;
    top: -3px;
    width: 80px;
    z-index: -1;
}
header nav ul li#right-menu #dots-icon:before {
    content: "\e608";
    font-family: "icomoon";
    font-size: 16px;
}
header nav ul li#right-menu #profileSettings {
    -moz-transition: height 100ms ease-in-out, box-shadow 100ms ease-in-out, opacity 100ms ease-in-out;
    -ms-transition: height 100ms ease-in-out, box-shadow 100ms ease-in-out, opacity 100ms ease-in-out;
    -o-transition: height 100ms ease-in-out, box-shadow 100ms ease-in-out, opacity 100ms ease-in-out;
    -webkit-transition: height 100ms ease-in-out, box-shadow 100ms ease-in-out, opacity 100ms ease-in-out;
    background-color: #fff;
    box-shadow: none;
    height: 0;
    position: absolute;
    right: 0;
    top: -3px;
    transition: height 100ms ease-in-out, box-shadow 100ms ease-in-out, opacity 100ms ease-in-out;
    width: 80px;
    z-index: 3;
}
header nav ul li#right-menu #profileTrigger {
    height: 41px;
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    z-index: 1;
}
header nav ul li#right-menu .back-arrow {
    position: absolute;
    right: 5px;
    top: 6px;
    height: 35px;
}
header nav ul li#right-menu #profile {
    position: absolute;
    right: 30px;
    top: 3px;
    height: 38px; 
}
header nav ul li#right-menu #profile #profile-pic {
    border-radius: 50%;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 25px;
}
header nav ul li#right-menu #store {
    left: 0;
    margin-right: 12px;
    position: absolute;
    top: 3px;
}
header nav ul li#right-menu #store:before {
    content: "\e600";
    font-family: "icomoon";
    font-size: 28px;
    margin-right: 2px;
}
header nav ul li#right-menu #dots {
    height: 35px;
    margin-right: 55px;
    padding-left: 35px;
    padding-top: 3px;
}
header nav ul li#index {
    padding: 0;
    position: relative;
    width: 130px;
}
header nav ul li#index #index-menu.open {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    display: block;
    height: 130px;
    left: 0;
    opacity: 1;
    padding-top: 47px;
    position: absolute;
    top: 0;
    z-index: 2;
}
header nav ul li#index #index-trigger {
    cursor: pointer;
    height: 41px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}
header nav ul li#index #index-trigger .back-arrow {
    position: absolute;
    top: 4px;
    left: -2px;
}
header nav ul li#index #index-trigger #index-text {
    left: 1em;
    position: absolute;
    top: 3px;
}
header nav ul li#index #index-menu {
    -moz-transition: height 100ms ease-in-out, box-shadow 100ms ease-in-out, opacity 100ms ease-in-out;
    -ms-transition: height 100ms ease-in-out, box-shadow 100ms ease-in-out, opacity 100ms ease-in-out;
    -o-transition: height 100ms ease-in-out, box-shadow 100ms ease-in-out, opacity 100ms ease-in-out;
    -webkit-transition: height 100ms ease-in-out, box-shadow 100ms ease-in-out, opacity 100ms ease-in-out;
    background-color: #fff;
    height: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: height 100ms ease-in-out, box-shadow 100ms ease-in-out, opacity 100ms ease-in-out;
    width: 130px;
}
header nav ul li#index #index-menu ul li.open {
    cursor: pointer;
    display: block;
    font-size: 16px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-top: 5px;
    width: 100%;
}
header nav ul li#index #index-menu ul li {
    color: #afafaf;
    display: none;
    list-style: none;
    overflow: hidden;
    padding-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
header nav ul li#index #index-menu ul li a {
    color: #afafaf;
    text-decoration: none;
}
header nav ul li#index .text.open,
header nav ul li#index span:first-child.open {
    color: #2ecc71;
}
input, textarea {
    background-color: #fff;
    border: none;
    border-radius: 4px;
}
input:focus,textarea:focus {
    outline: 0;

}
.button {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}
#video {
    margin-top: 6px
}
#example_video_1 {
    width: 100%
}
#Store {
    background-color: #ecf0f1;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
#Store #actualStore {
    background-color: #ecf0f1;
    bottom: 7px;
    position: absolute;
    width: 100%;
}
#Store #actualStore #storeSection {
    background-color: #fff;
    display: inline-block;
    float: right;
    height: 100%;
    padding: 40px;
    width: 70%;
}
#Store #actualStore #storeList {
    background-color: #fff;
    display: inline-block;
    height: 100%;
    width: 20%;
}
#Store #actualStore #storeList ul li {
    color: #afafaf;
    cursor: pointer;
    display: block;
    font-size: 25px;
    list-style: none;
    overflow: hidden;
    padding-bottom: 5px;
    padding-top: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
header.open {
    background-color: #2ecc71;
    border-bottom: solid 6px #27ae60;
    height: 40px;
    width: 100%;
    z-index: 3;
}
#Store.open {
    display: block
}
.openedStore {
    color: #fff
}
/*sombra #ccc
normal #fff*/
.info  img{
    height: 40px !important;
    width: 40px!important;
    cursor: pointer;
    position: absolute; 
}
#notifications .info img{ 
    top: 0; 
    height: 100% !important; 
    object-fit: contain; 
} 
.story .info  p{
    width: auto !important;
    font-size: 15px; 
    padding-left: 50px; 
}
.story.repost .info  p{
    width: auto !important;
    font-size: 15px; 
    padding-left: 114px; 
}
.story.repost .info img:first-child{
    height: 40px !important;
    width: 40px!important;
    cursor: pointer;
    position: absolute; 
    left: 0; 
}
.story.repost .info  img{
    height: 40px !important;
    width: 40px!important;
    cursor: pointer;
    position: absolute; 
    left: 64px; 
}
/*.story.repost .info  .time{
    margin-left: -114px; 
}*/ 
.info  .time {
    color: #aaa;
    font-size: 14px;
    margin: 0;
}
#biography
{
    margin-top: 47px;
}

#biography #content
{
width: 80%;
margin: 0 auto;
    position: relative;
}

#biography #content #cover
{
    background-color: #fff;
    height: 315px;
    width: 100%;
    position: relative;
}
#biography #content #cover #rol
{
        position: absolute;
    bottom: 0;
    right: 0;
    padding: 9px 9px;
    color: #FFFFFF;
    font-size: 20px;
    background: #2ECC71;
}
#biography #content #cover #rol b
{
    color: #fff
}
#biography #content #cover #profilePic
{
    cursor: pointer;
}
#biography #content #cover #profilePic div
{
    position: absolute;
  bottom: -247px;
    left: 43px;
    z-index: 1;
        top: 212px;

}
#biography #content #cover .line
{
    position: absolute;
    width: 100%;
    border-bottom: 4px solid #f1c40f;
    cursor: pointer;
}
#biography #content #cover #profilePic figcaption
{
   
    bottom: -1.5em;
    font-size: 25px;
    left: 250px;
position: absolute;
    
}
.ui-tooltip {
    background-color: #fff !important; 
    padding: 6px 10px !important;
    color: white !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 2px !important;
  }
.ui-tooltip-content {
    color: #f1c40f !important;
   position: relative;
  }
#biography #content #main
{
     margin: 3em 0 0 0;  
    padding: 0;    
}
#biography #content #main #summary
{
     margin: 120px 0 0 0;  
    padding: 0;
    
}
#feed 
{ 
    text-align: center; 
    width: 100%; 
    padding-bottom: 10px; 
} 
.story
{
    margin: 10px 0 0 auto; 
    background-color: #fff; 
    width: 500px; 
    max-width: 90%; 
    padding: 10px; 
    outline: none !important; 
}
#biography #content #main #summary aside
{
    display: inline-block;
    vertical-align: top

}
#biography #content #main #summary aside#sections
{
   width: 350px;
    margin-right: 20px;
    position: absolute;
    
}
#biography #content #main #summary aside#updates
{
    box-sizing: border-box;
   width: 100%;
   padding-left: 350px;
}
#biography #content #main #summary aside#sections > section
{
    box-sizing: border-box;
   background-color: #fff;
    padding: 6px 10px 10px 10px;
    margin-top: 10px;
    text-align: center;
    
}
#biography #content #main #summary aside#sections section .title
{
    margin: 0;
    color: #777;
    text-align: left;
    font-weight: normal;
    border-bottom: solid 1px #ccc;
    margin-bottom: 8px;
    font-size: 19px;
    padding-bottom: 5px;
    
}
#biography #content #main #summary aside#sections section .title a
{
    color: #555;
}
#biography #content #main #summary aside#sections #pics > img, #biography #content #main #summary aside#sections #pics .foto {
    width: 32%;
    display: inline-block;
    cursor: pointer;
}
#biography #content #options
{
    background-color: #fff;
    right: 0;
    padding: 0;
    position: absolute;
    text-align: right;
    white-space: nowrap;
    overflow-x: auto;
    z-index: 0;
    width: 100%;
}

#biography #content #options ul 
{ 
    background-color: #fff; 
    width: 100%; 
    text-align: right; 
    padding: 12px 0; 
    background-color: #fff; 
    float: right; 
} 
  
#biography #content #options ul li:first-child
{
    box-shadow: none;
    padding: 0 1em 0 0;
}
#biography #content #options ul li
{
-webkit-box-shadow: -1px 0px 0px 0px #ccc;
-moz-box-shadow:    -1px 0px 0px 0px #ccc;
box-shadow:         -1px 0px 0px 0px #ccc;    color: #888;
    cursor: pointer;
    list-style: none;
    display: inline-block;
    font-size: 20px;
    margin: 0;
    padding: 0.5em 1em;
    
}
#biography #content #cover #profilePic img
{
    bottom: -97px;
  position: absolute;
    left: 38px;
    border-radius: 50%;
    width: 170px;
    border: #fff 18px solid;
    z-index: 1;
}
.current
{
   -webkit-box-shadow: 0px 0px 3px 0px rgba(46, 204, 113, 1);
-moz-box-shadow:    0px 0px 3px 0px rgba(46, 204, 113, 1);
box-shadow:         0px 0px 3px 0px rgba(46, 204, 113, 1);
}
.story .info  .time {
   white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.info  p a{
  font-weight: bold;
    text-decoration: none;
}
#feed  .story .title{
 font-size: 20px;
    color: #666;
    margin: 10px 0
        
}
#feed  .story .more {
text-align: center;
    margin: 0;
    padding: 15px 0;
}
#feed  .story .more a{
text-align: right;
text-decoration: none;

}
#feed  .story img{
max-height:  370px;
    max-width:  100%;
cursor: pointer
}
#wrapper
{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: 3;
}   
.theater
{
    display:none;
}
#theater
{
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    position: fixed;
    height: 500px;
    z-index: 3;
    top: 20px;
    max-width: 1400px;
}
#theater #picContainer
{
   position: absolute;
    height: 100%;
    background-color: #fff; 
    width: 100%; 
    padding-right: 340px; 
    box-sizing: border-box; 

} 
#theater #bigPic
{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: auto ;
}
#theater #bigPic.invisible
{
    display: none; 
}
#theater #picContainer > div:nth-child(3)
{
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
    margin: auto ;
    box-sizing: border-box;
    display: none; 
}
#theater #picContainer > div video
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: unset; 
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 45px;
}
#theater #picContainer .vjs-control-bar
{
    bottom: 0 !important; 
}
section.video section.video:hover .Enlarge {
    display: block;
}
#theater .Playuse
{
    display: none; 
}
#theater #picContainer > div.visible, #theater .Playuse.visible
{
    display: block; 
}
#theater .info p
{
    
   font-size: 14px;
       width: auto !important;
padding-left: 47px;

}
#theater .title
{
    
  color: #666;
    font-weight: bold

}
#theater .more
{
  color: #666;
  font-size: 15px;
    margin: 0;
}
.options
{
    
    height: 60px;
    

}
.options ul
{
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 50px;
    height: 100%;
    vertical-align: middle;
    text-align: center;
} 
#theater .options
{
   
    bottom: 0;
position: absolute;
width: 100%;
left: 0;
    
} 
#theater .options ul
{
   
    line-height: 0;
    
} 
#theater .options ul li
{
   
font-size: 40px    
} 
.options ul li
{
display: inline-block;
    width: 30%;;
    margin: 0;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-family: "icomoon";
    line-height:50px;
    font-size: 40px;
    cursor: pointer;
    
    
} 
.options ul li.bookmark:after
{
content: "\f097"
} 
.options ul li.bookmark.true:after
{
content: "\f02e"
} 
.options ul li.star:after
{
content: "\e60d"
} 
.options ul li.star.true:after
{
content: "\e60c"
} 
.options ul li.read:after
{
content: "\e627"
} 
#theater .options ul li.read:after
{
content: "\e903"
} 

#theater .comments
{
    width: 300px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 20px;
    background-color: #fff; 
    height: 100%; 
    box-sizing: border-box; 
    padding: 20px 0; 
}
#theater .comments #close
{
    text-align: right;
    font-size: 9px;
    color: #bbb;
    margin: 5px 5px;
    font-family: "icomoon";
    position: absolute;
    top: 0;
    right: -20px;
    padding: 2px;
    cursor: pointer
    
}

#theater .comments #close:before
{
    content: "\e60e"
}
#sidebar{
    position: fixed;
    right: 0;
    top: 46px;
    width: 205px;
    background-color: #fff;
    z-index: 1;
}
#sidebar .slimScrollDiv{
    position: absolute;
    bottom: 0;
    height: 100% !important;
    width: 100% !important;
}
#sidebar #container{
    position: relative;

}
#sidebar  #container #resizeBottom{
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
    background-color: #fff;
}
#sidebar  #container #resizeBottom #chat
{
    padding: 0;
    height: 100% !important;
}
#sidebar  #container #resizeTop{
    position: absolute;
    top: 0;
    height: 50%;
    width: 100%;
}
#sidebar  #container #resizeTop #notifications
{
    padding: 0;
    height: 100% !important;
}
#sidebar  #container #resizeTop #notifications .info
{
    padding: 4px 0;
    border-bottom: solid 1px #ddd;
}
.info 
{
    position: relative;
    height: auto;
    cursor: pointer;
}

#sidebar  #container #resizeTop #notifications .info:first-child
{
    
    margin-top: 5px !important
}

.info b
{
    color: #666;
}

#theater .info img {
    position: absolute;
    display: inline-block;
    object-fit: contain;
    height: 100% !important;
}
.info p
{
    margin: 0;
        color: #666;
    padding-left: 50px; 
    position: static;
   font-size: 13px ;
    display: inline-block;
    width:  140px;
    vertical-align: top;
}
.ui-resizable-handle{
    width:0;
    height:7px !important; 
    background-color: #ccc;
}
#sidebar #search
{
    position: absolute;
    bottom: 0;
    font-size: 14px;
    text-align: center;
    background-color: #fff;
    width: 100%;
    padding: 5px 5px 5px 10px;
}
#sidebar #search input
{
    color: #666;
}
#sidebar #search #searchIcon
{
    
    font-style: normal;
    font-family: "icomoon";
    color: #666;
 
}
#sidebar  #search #searchIcon:before
{
    content: "\e60b"
}
#sidebar ul {

    list-style: none;
    padding: 0 10px;
    margin: 0;
    
}

#sidebar ul li{
    height: 35px;
    margin-bottom: 4px;
    width: 100%;
    cursor: pointer
}
#sidebar ul li p{
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    display: inline-block;
    padding-left: 6px;
    font-family: Helvetica, "Open Sans";
    width: 115px;

}
#sidebar ul li span{
    font-family: "icomoon";
    font-size: 9px;
    width: 10px;
    float: right;
    margin-top: 15px
}
#sidebar ul li.connected span:before{
    content: "\e615";
    color: #2ecc71;
}
#sidebar ul li span:before{
    content: "\e615";
    color: #ccc;
}
  
#sidebar ul li img { 
   height: 35px; 
   width: 35px; 
   object-fit: contain; 
} 
#chats
{
    bottom: 0;
    left: 0;
    position: fixed;
    overflow-y: hidden;
    z-index: 2; 
}
#chats .chats
{
    white-space: nowrap ;
    padding: 0 5px;
    float: right;
    overflow-x: auto;
    overflow-y: hidden;
    text-align: right;
      direction:rtl;

}
#chats .chats .chat 
{

    background-color: #fff;
    margin-right: 1px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    height: 19px;
    border: solid 1px #ccc;
    width: 160px;
    display: inline-block;
    direction:ltr;
    padding-bottom: 9px;
    vertical-align: bottom;
}
#chats .chats .chat.open 
{
    height: 285px;
    width: 260px;
    border-top: none;
}
#chats .chats .chat.open .chatTitle
{
    width: 100%;
    background-color: #2ecc71;
    color: #fff;
    text-align: left;
    height: 30px;
    line-height: 30px;
    border-right: 1px solid #2ecc71;
    border-left: 1px solid #2ecc71;
    margin-left: -1px;
}
#chats .chats .chat.open .chatTitle p{
    width: 170px;
    background-color: #2ecc71;
    color: #fff;
    text-align: left;
    height: 30px;
    line-height: 30px;
    font-size: 17px;
    padding-left: 10px;
    border: none;
}
#chats .chats .chat.open .chatTitle .close
{
    float: right;
        color: #cfc;
    padding-right: 10px;
    line-height: 27px;
width: 19px}
#chats .chats .chat.open .chatTitle .close:after
{
display: block;
    float: right;
}
#chats .chats .chat.open .chatTitle .close:hover
{
    color: #fff;
}
#chats .chats .chat.open .chatBox
{
    width: 100%;
   height: 265px;
    position: relative;
    display: block;
    background-color: #ecf0f1
}
#chats .chats .chat.open .chatBox .messages 
{
   box-sizing: border-box;
    padding: 04px;
    display: inline-block;
    width: 100%;
    position: absolute;
    bottom: 28px;
    height: 237px;
    overflow-y: auto;
    left: 0;
}
#chats .chats .chat.open .chatBox .messages .sent
{
     border-radius: 1em;
     background-color: #0083ff;
    font-size: 13px;
    color: #fff;
    resize: none;
    width: auto !important;
    max-width: 80%;
    display: inline-block;
    clear:both;
    float: right;
    text-align: left;
    padding: 0;
    margin: 2.5px 0 2.5px 0;
    white-space: normal;
    padding: 5px;
    word-wrap: break-word;
    
}
#chats .chats .chat.open .chatBox .messages .sent i, #chats .chats .chat.open .chatBox .messages .sent u
{
    color: inherit; 
}
#chats .chats .chat.open .chatBox .newMessage
{
  width: 100%;
   position: absolute;
    bottom: 0;
    text-align: left;
    background-color: #fff;
    padding: 0;
    max-height: 80px
}
#chats .chats .chat.open .chatBox .newMessage textarea
{
     box-sizing: border-box;
  max-height: 80px;
  min-height: 28px;
  width: 100%;
    padding: 8px 60px 0 5px;
    border-radius: 0;
    color: #000;
    resize: none;
    font-size: 13px;
    margin: 0;
    font-weight: 400;
    vertical-align: middle;
    overflow: auto;
    height: 100%;
    line-height: 14px
}
#chats .chats .chat .chatBox
{

    display: none;
}
#chats .chats .chat .chatTitle 
{
    cursor: pointer;
    height: 24px;
    width: 100%;
padding: 0;
    text-align: center;
    color: #555;
    font-size: 15px;
line-height: 27px;
overflow: hidden;
text-overflow: ellipsis;
        color: #555;
    line-height: 27px;


}
#chats .chats .chat .chatTitle p
{
  color: inherit;
    line-height: inherit;
    width: 120px;
    font-size: 15px;
overflow: hidden;
text-overflow: ellipsis;
margin: 0 0 0 5px;
display: inline-block;
    vertical-align: top;

}
#chats .chats .chat .chatTitle .close
{
    font-family: "icomoon";
    width: 25px;
    height: 28px;
    vertical-align: top;
    font-size: 10px;
    padding-top: 2px;
    display: inline-block;
    color: #aaa;
}
#chats .chats .chat .chatTitle .close:hover
{
    color: #555;
}

#chats .chats .chat .chatTitle .close:after
{
    content: "\e60e";
    display: none
}
#chats .chats .chat .chatTitle .close.visible:after
{
    display: block;
}
.tool
{
    width: 280px; 
    height:150px; 
    background: #fff; 
    position:relative;
}
.tool .datos .rol
{
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 5px;
    margin: auto;
    width: 100%;
    font-size: 20px; 
    background: #2ecc71;
}
.tool .datos .username
{
    position: absolute;
    top: 55px;
    margin: auto;
    width: 100%;
    font-size: 16px; 
    padding-left: 5px; 
    box-sizing: border-box;
}
.tool .datos
{
    position: absolute; 
    z-index: 3; 
    bottom: 0; 
    left: 114px; 
    width: 161px; 
    height:109px;
}
.tool .datos .actions
{
    margin: 0;
    padding: 0;
}
.tool .datos .actions li
{
    display: inline-block;
    list-style: none;
    width: 30%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
}
.tool img
{
    z-index: 2; 
    border-radius: 50%; 
    margin:5px;
    position:absolute; 
    padding: 4px; 
    bottom: 0;
    height: 90px;
    width: 90px;
}
.tool canvas
{
    position: absolute; 
    bottom: 3px; 
    left: 3px; 
}
.tool p.username
{ 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} 
.city .thumbnail {
    height: 100%;
    width: 80px;
    border-radius: 0;
    left: 0;
    object-fit: cover;
    margin: 0;
    border: 5px solid #fff;
    padding: 0;
}
.city .introduction {
    height: 100%;
    width: 185px;
    float: right;
    overflow-y: scroll;
    font-size: 12px;
    padding: 5px;
    box-sizing: border-box;
    margin-top: -10px;
    color: #666;
}
.city .thumbnail:hover {
    width: auto;
}
.insignia
{
    position: absolute; 
    width: 100%; 
    border-bottom: 3px solid #f1c40f; 
}
.buscar
{
        border-bottom: 1px solid #2ecc71;
   font-size: 16px;
   width: 350px;
    padding: 0;
    margin: 0;
    border-radius: 0;
    max-width: 100%; 
}

.agregar.sent
{
    color: blue;
}
.hidden
{
    display: none;
}
.wrapper{
    display: none;
}
.wrapper.visible{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2
}
#profile div{ 
    display: inline-block !important; 
} 


.linktype {
  float: right;
}
.linktype:before {
  content: "|  ";
  color: #ccc;
}
.link {
  padding: 17px 9px;
  text-align: left;
  cursor: pointer;
  display: block; 
}
.Title {
  /*! text-align: left; */
  /*! float: left; */
  color: #666;
}
.Title {
}
.link:hover {
  background-color: #eee;
  text-decoration: none; 
}
#pics .info, #pics p.title, #pics .options, #pics .bigPic {
    display: none;
}
#pics .foto img
{
    width: 100%; 
}
#pics .foto
{
    padding: 0 !important; 
    margin: 0 !important; 
}
#pics .foto #picture
{
    padding: 0 !important; 
    margin: 0 !important; 
}
.audiojs .play::after {
    font-family: "icomoon";
    content: "\e603";
    font-size: 40px;
}
.audiojs .loading::after {
    font-family: "icomoon";
    content: "\e603";
    font-size: 40px;
}
.audiojs .pause::after {
    font-family: "icomoon";
    content: "\e602";
    font-size: 40px;
}
.audiojs .scrubber { 
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    border: none; 
    cursor: pointer; 
    background: #ddd; 
}
.audiojs .scrubber .progress, .audiojs .scrubber .loaded { 
    height: 100%; 
}
.audiojs .scrubber .progress { 
    background: #2ecc71 !important; 
}
.audiojs .scrubber .loaded { 
    background: #ccc !important; 
}
.audiojs .time { 
    display: none;  
}
.audiojs .play-pause {
    border-right: none; 
    margin: 25px 0 0 22px !important; 
    padding: 0 !important; 
    width: 40px; 
    cursor: normal !important; 
}
.audiojs p { 
    cursor: default !important; 
}
.media {
    position: relative; 
    height: 80px; 
}
.media > div {
    width: 100%;
    height: 100%;
    background: #fff;
    box-shadow: none;
}
.media > p { 
    position: absolute;
    right: 0;
    font-size: 11.5px;
    color: #666;
    bottom: 15px;
} 
.oculto {
    height: 0;
    overflow: hidden;
    padding: 20px;
    border: 1px solid #ccc;
    transition: height 1005ms cubic-bezier(.83,1.12,.27,.21);
}
.revelar {
    width: 100%;
    text-align: center;
    display: block;
    margin-top: -11px;
    cursor: pointer;
    margin-bottom: 30px;
}
.revelar.activado {
    text-align: left !important;
    font-size: 0.7em;
    margin-bottom: initial; 
}
.oculto p 
{ 
    color: #aaa; 
} 
.d88fer .vjs-progress-holder 
{ 
    position: absolute !important; 
    z-index: 1 !important;  
} 
.video 
{ 
    position: relative; 
    padding-bottom: 44px; 
    box-sizing: border-box; 
} 
.Playuse 
{ 
    position: absolute; 
    left: 0; 
    top: 0; 
    font-family: "icomoon"; 
    font-size: 43px; 
    cursor: pointer; 
    display: block; 
    z-index: 1; 
} 
.Playuse::after 
{ 
    content: "\e603"; 
} 
.Playuse.playing 
{ 
    display: none !important; 
} 
.Enlarge 
{ 
    position: absolute; 
    right: 15px; 
    top: 0; 
    font-family: "icomoon"; 
    font-size: 43px; 
    cursor: pointer; 
    display: none; 
    z-index: 1; 
    line-height: 7.5px;
} 
.Enlarge::after 
{ 
    content: "\e989";
    font-size: 26px;
    top: 23px;
    left: 0;
    position: relative;
} 
.vjs-control-bar
{ 
    display: block !important; 
} 
.vjs-poster 
{ 
    background-position: unset !important;  
} 
.vjs-volume-level 
{ 
    background: #2ecc71 !important; 
} 
.vjs-volume-bar.vjs-slider 
{ 
    background: #fff !important; 
} 
.vjs-time-divider div span, .vjs-default-skin .vjs-current-time div, .vjs-default-skin .vjs-duration div 
{ 
    color: #aaa; 
    font-size: 11px; 
} 
#example_video_1 
{ 
    padding-bottom: 11px; 
} 
#buscar 
{ 
  position: absolute;
  left: 0;
  width: 100%;
  padding-left: 135px;
  height: 40px;
  padding-top: 4px;
  box-sizing: border-box;
  padding-right: 300px;
} 
.ui-tooltip, .vjs-slider 
{ 
    z-index: 1 !important;
} 
.repostedFrom {
    position: absolute;
    left: 44px;
    height: 40px;
    vertical-align: middle;
    display: inline;
    color: #666;
    font-size: ;
    top: 10px;
}
.repostedFrom::after {
    font-family: "icomoon";
    content: "\e900";
}
.navigation{ 
    width: 100%; 
    position: relative; 
} 
.foto .navigation, .foto .carr, .foto .picture{ 
    height: 105.7px; 
} 
.foto .carr, .mult_img .carr{ 
    writing-mode: vertical-lr; 
    width: 100%; 
    overflow: hidden; 
} 
.foto .picture, .mult_img .picture{ 
    width: 100%; 
} 
.foto .picture .pic, .mult_img .picture .pic{ 
    width: 100%; 
    object-fit: contain; 
} 
.nav_arrow{ 
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    font-family: "icomoon"; 
    height: 100%; 
    position: absolute; 
    text-align: center; 
} 
.nav_arrow .arrow{ 
    font-family: "icomoon"; 
} 
.nav_arrow .arrow::after {
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.nav_arrow.disabled .arrow {
    color: #ccc;
}

.nav_arrow.left .arrow:after{ 
    content: "\e902"; 
} 

.nav_arrow.left{ 
    left: 0; 
} 
.nav_arrow.right{ 
    right: 0; 
} 
.nav_arrow.right .arrow:after{ 
    content: "\e901"; 
} 
#theater .nav_arrow.left{ 
    left: 1.1%; 
    top: 0; 
    position: fixed; 
} 
#theater .nav_arrow.right{ 
    right: 1.1%; 
    top: 0; 
    position: fixed; 
} 
#theater{ 
    height: 100%; 
    position: fixed; 
    top: 0; 
    box-sizing: border-box; 
    padding: 20px 0;
    width: 90%; 
} 
#theater > section{ 
    background-color: #fff; 
    height: 100%; 
    position: relative; 
} 
#theater .description{ 
    display: flex;
    flex-flow: column;
    position: absolute;
    top: 0;
    height: 100%;
    box-sizing: border-box;
    padding: 58px 0 87px 0;
    width: 300px; 
    transition: transform 235ms ease-in; 
}
#theater .description.closed{ 
    transform: rotateY(90deg); 
}
#theater .comentarios{ 
    display: flex;
    flex-flow: column;
    position: absolute;
    top: 0;
    height: 100%;
    box-sizing: border-box;
    padding: 58px 0 87px 0;
    transition: transform 235ms ease-in; 
    width: 300px; 
    transform: rotateY(-90deg); 
}
#theater .comentarios.open{ 
    transform: rotateY(0deg); 
}
#theater .comentarios .Comentarios{
    flex-grow: 1; 
    background: blueviolet; 
    border: 1px solid; 
    padding-top: 16px; 
}
#theater .comentarios .Comentarios .comentario .userInfo{ 
    position: relative; 
} 
#theater .comentarios .Comentarios .comentario .userInfo div{ 
    position: absolute; 
    left: 0; 
    top: 0; 
    cursor: pointer; 
} 
#theater .comentarios .Comentarios .comentario .userInfo img{ 
    height: 20px; 
    border-radius: 50%; 
    padding: 4px 4px 4px 4px; 
    z-index: 2; 
    position: relative; 
    cursor: pointer; 
} 
#theater .comentarios .Comentarios .comentario .userInfo .username{ 
    font-size: 13px; 
} 
/*.RIPonsive{}*/ 
#theater .more{ 
    flex-grow: 1; 
    overflow: hidden !important; 
} 
#theater .info{ 
    z-index: 1; 
} 
#theater .comentarios textarea{ 
    width: 100%; 
    color: #000;
    height: 100%; 
    font-size: 13px;
    max-height: 80px;
    min-height: 26px;
    border-radius: 0px; 
    resize: none; 
    border: 1px solid #b3b3b3; 
    padding: 7px 60px 7px 4px; 
    box-sizing: border-box; 
    font-weight: 400;
    vertical-align: middle;
    overflow: auto;
    line-height: 14px;
    /*background-color: grey; */ 
} 
#theater .comentarios .newComment{ 
    /*bottom: 87px; 
    position: absolute; */ 
    max-height: 80px; 
    width: 100%; 

} 
.moreI{ 
    display: none; 
} 
header nav ul li#right-menu #store::before {
    /*background-image: url("https://www.freepnglogos.com/uploads/santa-hat-png/download-santa-hat-png-transparent-image-and-clipart-2.png");*/ 
    background-repeat: no-repeat;
    height: 16px;
    display: inline-block;
    width: 16px;
    background-size: contain;
    background-position-x: -3px;
}
.Editado{ 
    float: right; 
    color: #aaa; 
    font-size: 14px; 
} 
.Cont {
    position: absolute; 
    bottom: 5px; 
    background: #2ecc71; 
    height: 27px; 
    width: 161px; 
    padding: 0 5px; 
    box-sizing: border-box; 
    display: flex; 
    flex-flow: row; 
}
.Cont .rol{
    flex-grow: 1; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    position: unset !important; 
}
.story.video {
    width: 520px;
}