#wrapper
{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: 3;
}   
.theater
{
    display:none;
}
#theater
{
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    position: fixed;
    height: 500px;
    z-index: 3;
    top: 20px;
    max-width: 1400px;
}
#theater #picContainer
{
   position: absolute;
    height: 100%;
    background-color: #fff; 
    width: 100%; 
    padding-right: 340px; 
    box-sizing: border-box; 

} 
#theater #picContainer > video
{
    display: none; 
} 
#theater #picContainer .embed 
{ 
    height: 100%; 
    width: 100%; 
} 
#theater #picContainer text 
{ 
    padding: 0 10px; 
    display: block; 
} 
#theater #picContainer .embed > iframe
{ 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
} 
#theater #bigPic
{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: auto ;
}
#theater #bigPic.invisible
{
    display: none; 
}
#theater #otherContainments 
{ 
    display: none; 
    height: 100%; 
    width: 100%; 
    overflow-x: hidden; 
    position: relative; 
} 
#theater #otherContainments.overflowing::before{ 
    content: ""; 
    width: 4px; 
    position: absolute; 
    right: 0; 
    height: 17px; 
    z-index: 222; 
    background: white; 
} 
#theater #otherContainments.overflowing::after{ 
    content: ""; 
    width: 4px; 
    position: absolute; 
    right: 0; 
    height: 17px; 
    z-index: 222; 
    background: white; 
    bottom: 0; 
} 
#theater #otherContainments > div 
{ 
    height: 100%; 
    overflow-y: auto; 
    width: 100%; 
    padding-right: 12px; 
} 
#theater #otherContainments.visible 
{ 
    display: block; 
} 
#theater #picContainer > div:nth-child(3)
{
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
    margin: auto ;
    box-sizing: border-box;
    display: none; 
}
#theater #picContainer > div video
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: unset; 
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 45px;
}
#theater #picContainer .vjs-control-bar
{
    bottom: 0 !important; 
}
section.video section.video .Enlarge {
    top: 23px; 
}
section.video section.video:hover .Enlarge {
    display: block;
}
.vid
{
    display: none; 
}
#theater .Playuse
{
    display: none; 
}
#theater #picContainer > div.visible, #theater .Playuse.visible
{
    display: block; 
}
.d88fer .vjs-progress-holder {
    position: absolute !important;
    z-index: 1 !important;
}
.vjs-time-divider div span, .vjs-default-skin .vjs-current-time div, .vjs-default-skin .vjs-duration div {
    color: #aaa;
    font-size: 11px;
}
.vjs-volume-level {
    background: #2ecc71 !important;
}
.vjs-volume-bar.vjs-slider {
    background: #fff !important;
}
#theater .info p
{
    
   font-size: 14px;
       width: auto !important;
padding-left: 47px;

}
#theater .title
{
    
  color: #666;
    font-weight: bold

}
#theater .more
{
  color: #666;
  font-size: 15px;
    margin: 0;
}
.options
{
    
    height: 60px;
    

}
.options ul
{
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 50px;
    height: 100%;
    vertical-align: middle;
    text-align: center;
} 
#theater .options
{
   
    bottom: 0;
position: absolute;
width: 100%;
left: 0;
    
} 
#theater .options ul
{
   
    line-height: 0;
    
} 
#theater .options ul li
{
   
font-size: 40px    
} 
.options ul li
{
display: inline-block;
    width: 30%;;
    margin: 0;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-family: "icomoon";
    line-height:50px;
    font-size: 40px;
    cursor: pointer;
    
    
} 
.options ul li.bookmark:after
{
content: "\f097"
} 
.options ul li.bookmark.true:after
{
content: "\f02e"
} 
.options ul li.star:after
{
content: "\e60d"
} 
.options ul li.star.true:after
{
content: "\e60c"
} 
.options ul li.read:after
{
content: "\e627"
} 
#theater .options ul li.read:after
{
content: "\e903"
} 
#theater .comments
{
    width: 300px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 20px;
    background-color: #fff; 
    height: 100%; 
    box-sizing: border-box; 
    padding: 20px 0; 
}
#theater .comments #close
{
    text-align: right;
    font-size: 9px;
    color: #bbb;
    margin: 5px 5px;
    font-family: "icomoon";
    position: absolute;
    top: 0;
    right: -20px;
    padding: 2px;
    cursor: pointer
    
}

#theater .comments #close:before
{
    content: "\e60e"
}
#theater .info 
{ 
    position: relative; 
} 
#theater .info img
{
    position: absolute;
    display: inline-block;
    object-fit: contain;
    height: 100% !important;
}
.info p {
    margin: 0;
    color: #666;
    padding-left: 50px;
    position: static;
    font-size: 13px;
    display: inline-block;
    width: 140px;
    vertical-align: top;
}
.ui-resizable-handle{
    background-color: #ccc;
}
.info p a {
    font-weight: bold;
}
#sidebar #search
{
    position: absolute;
    bottom: 0;
    font-size: 14px;
    text-align: center;
    background-color: #fff;
    width: 100%;
    padding: 5px 5px 5px 10px;
}
#sidebar #search input
{
    color: #666;
}
#sidebar #search #searchIcon
{
    
    font-style: normal;
    font-family: "icomoon";
    color: #666;
 
}
#sidebar  #search #searchIcon:before
{
    content: "\e60b"
}
#sidebar ul {

    list-style: none;
    padding: 0 10px;
    margin: 0;
    
}

#sidebar ul li{
    height: 35px;
    margin-bottom: 4px;
    width: 100%;
    cursor: pointer
}
#sidebar ul li p{
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    display: inline-block;
    padding-left: 6px;
    font-family: Helvetica, "Open Sans";
    width: 115px;

}
#sidebar ul li span{
    font-family: "icomoon";
    font-size: 9px;
    width: 10px;
    float: right;
    margin-top: 15px
}
#sidebar ul li.connected span:before{
    content: "\e615";
    color: #2ecc71;
}
#sidebar ul li span:before{
    content: "\e615";
    color: #ccc;
}
  
#sidebar ul li img { 
   height: 35px; 
   width: 35px; 
   object-fit: contain; 
} 
#chats
{
    bottom: 0;
    left: 0;
    position: fixed;
    overflow-y: hidden;
    z-index: 2; 
}
#chats .chats
{
    white-space: nowrap ;
    padding: 0 5px;
    float: right;
    overflow-x: auto;
    overflow-y: hidden;
    text-align: right;
      direction:rtl;

}
#chats .chats .chat 
{

    background-color: #fff;
    margin-right: 1px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    height: 19px;
    border: solid 1px #ccc;
    width: 160px;
    display: inline-block;
    direction:ltr;
    padding-bottom: 9px;
    vertical-align: bottom;
}
#chats .chats .chat.open 
{
    height: 285px;
    width: 260px;
    border-top: none;
}
#chats .chats .chat.open .chatTitle
{
    width: 100%;
    background-color: #2ecc71;
    color: #fff;
    text-align: left;
    height: 30px;
    line-height: 30px;
    border-right: 1px solid #2ecc71;
    border-left: 1px solid #2ecc71;
    margin-left: -1px;
}
#chats .chats .chat.open .chatTitle p{
    width: 170px;
    background-color: #2ecc71;
    color: #fff;
    text-align: left;
    height: 30px;
    line-height: 30px;
    font-size: 17px;
    padding-left: 10px;
    border: none;
}
#chats .chats .chat.open .chatTitle .close
{
    float: right;
        color: #cfc;
    padding-right: 10px;
    line-height: 27px;
width: 19px}
#chats .chats .chat.open .chatTitle .close:after
{
display: block;
    float: right;
}
#chats .chats .chat.open .chatTitle .close:hover
{
    color: #fff;
}
#chats .chats .chat.open .chatBox
{
    width: 100%;
   height: 265px;
    position: relative;
    display: block;
    background-color: #ecf0f1
}
#chats .chats .chat.open .chatBox .messages 
{
   box-sizing: border-box;
    padding: 04px;
    display: inline-block;
    width: 100%;
    position: absolute;
    bottom: 28px;
    height: 237px;
    overflow-y: auto;
    left: 0;
}
#chats .chats .chat.open .chatBox .messages .sent
{
     border-radius: 1em;
     background-color: #0083ff;
    font-size: 13px;
    color: #fff;
    resize: none;
    width: auto !important;
    max-width: 80%;
    display: inline-block;
    clear:both;
    float: right;
    text-align: left;
    padding: 0;
    margin: 2.5px 0 2.5px 0;
    white-space: normal;
    padding: 5px;
    word-wrap: break-word;
    
}
#chats .chats .chat.open .chatBox .messages .sent i, #chats .chats .chat.open .chatBox .messages .sent u
{
    color: inherit; 
}
#chats .chats .chat.open .chatBox .newMessage
{
  width: 100%;
   position: absolute;
    bottom: 0;
    text-align: left;
    background-color: #fff;
    padding: 0;
    max-height: 80px
}
#chats .chats .chat.open .chatBox .newMessage textarea
{
     box-sizing: border-box;
  max-height: 80px;
  min-height: 28px;
  width: 100%;
    padding: 8px 60px 8px 5px;
    border-radius: 0;
    color: #000;
    resize: none;
    font-size: 13px;
    margin: 0;
    font-weight: 400;
    vertical-align: middle;
    overflow: auto;
    height: 100%;
    line-height: 14px
}
#chats .chats .chat .chatBox
{

    display: none;
}
#chats .chats .chat .chatTitle 
{
    cursor: pointer;
    height: 24px;
    width: 100%;
padding: 0;
    text-align: center;
    color: #555;
    font-size: 15px;
line-height: 27px;
overflow: hidden;
text-overflow: ellipsis;
        color: #555;
    line-height: 27px;


}
#chats .chats .chat .chatTitle p
{
  color: inherit;
    line-height: inherit;
    width: 120px;
    font-size: 15px;
overflow: hidden;
text-overflow: ellipsis;
margin: 0 0 0 5px;
display: inline-block;
    vertical-align: top;

}
#chats .chats .chat .chatTitle .close
{
    font-family: "icomoon";
    width: 25px;
    height: 28px;
    vertical-align: top;
    font-size: 10px;
    padding-top: 2px;
    display: inline-block;
    color: #aaa;
}
#chats .chats .chat .chatTitle .close:hover
{
    color: #555;
}

#chats .chats .chat .chatTitle .close:after
{
    content: "\e60e";
    display: none
}
#chats .chats .chat .chatTitle .close.visible:after
{
    display: block;
}
#theater .info  p a{
  font-weight: bold;
}
*
{ 
    color: #2ecc71; 
    font-family: "Open Sans"; 
} 
.photo .info, .photo .title, .photo #picture, .photo .options, .vid .info, .vid p.title, .vid .options, .vid .bigPic, .vid video, .vid .video, .vid .Comentarios {
    display: none;
}

.photo 
{ 
    display: inline-block; 
} 
.tool
{
    width: 280px; 
    height:150px; 
    background: #fff; 
    position:relative;
}
.tool .agregar{ 
    color: #ccc; 
} 
.tool .datos .rol
{
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 5px;
    margin: auto;
    width: 100%;
    font-size: 20px; 
    background: #2ecc71;
}
.tool .datos .username
{
    position: absolute;
    top: 55px;
    margin: auto;
    width: 100%;
    font-size: 16px; 
    padding-left: 5px; 
    box-sizing: border-box;
}
.tool .datos
{
    position: absolute; 
    z-index: 3; 
    bottom: 0; 
    left: 114px; 
    width: 161px; 
    height:109px;
}
.tool .datos .actions
{
    margin: 0;
    padding: 0;
}
.tool .datos .actions li
{
    display: inline-block;
    width: 
    list-style: none;
    width: 30%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
}
.tool img
{
    z-index: 2; 
    border-radius: 50%; 
    margin:5px;
    position:absolute; 
    padding: 4px; 
    bottom: 0;
    height: 90px;
    width: 90px;
}
.tool canvas
{
    position: absolute; 
    bottom: 3px; 
    left: 3px; 
}
.tool p.username
{ 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} 
.city .thumbnail {
    height: 100%;
    width: 80px;
    border-radius: 0;
    left: 0;
    object-fit: cover;
    margin: 0;
    border: 5px solid #fff;
    padding: 0;
}
.city .introduction {
    height: 100%;
    width: 185px;
    float: right;
    overflow-y: scroll;
    font-size: 12px;
    padding: 5px;
    box-sizing: border-box;
    margin-top: -10px;
    color: #666;
}
.city .thumbnail:hover {
    width: auto;
}
.insignia
{
    position: absolute; 
    width: 100%; 
    border-bottom: 3px solid #f1c40f; 
}
a 
{ 
    text-decoration: none; 
} 
a:hover 
{ 
    text-decoration: underline; 
} 
#gallery .Comentarios{ 
    display: none; 
} 
.navigation{ 
    width: 100%; 
    position: relative; 
} 
.photo .navigation, .photo .carr, .photo .picture{ 
    height: 100%; 
} 
.photo .carr, .mult_img .carr{ 
    writing-mode: vertical-lr; 
    width: 100%; 
    overflow: hidden; 
} 
.photo .picture, .mult_img .picture{ 
    width: 100%; 
} 
.photo .picture .pic, .mult_img .picture .pic{ 
    width: 100%; 
    object-fit: cover; 
} 
.nav_arrow{ 
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    font-family: "icomoon"; 
    height: 100%; 
    position: absolute; 
    text-align: center; 
} 
.nav_arrow .arrow{ 
    font-family: "icomoon"; 
} 
.nav_arrow .arrow::after {
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.nav_arrow.disabled .arrow {
    color: #ccc;
}

.nav_arrow.left .arrow:after{ 
    content: "\e902"; 
} 

.nav_arrow.left{ 
    left: 0; 
} 
.nav_arrow.right{ 
    right: 0; 
} 
.nav_arrow.right .arrow:after{ 
    content: "\e901"; 
} 
#theater .nav_arrow.left{ 
    left: 1.1%; 
    top: 0; 
    position: fixed; 
} 
#theater .nav_arrow.right{ 
    right: 1.1%; 
    top: 0; 
    position: fixed; 
} 
#theater{ 
    height: 100%; 
    position: fixed; 
    top: 0; 
    box-sizing: border-box; 
    padding: 20px 0;
    width: 90%; 
} 
#theater > section{ 
    background-color: #fff; 
    height: 100%; 
    position: relative; 
} 
#theater .description{ 
    display: flex;
    flex-flow: column;
    position: absolute;
    top: 0;
    height: 100%;
    box-sizing: border-box;
    padding: 58px 0 87px 0;
    width: 300px; 
    transition: 235ms transform 235ms ease-in; 
}
#theater .description.closed{ 
    transition-delay: 0s; 
    transform: rotateY(90deg); 
}
#theater .comentarios{ 
    display: flex;
    flex-flow: column;
    position: absolute;
    top: 0;
    height: 100%;
    box-sizing: border-box;
    padding: 74px 0 87px 0;
    transition: transform 235ms ease-in; 
    width: 300px; 
    transform: rotateY(-90deg); 
    overflow-x: hidden; 
}
#theater .comentarios.setenta_y_cuatro{ 
    padding-top: 74px; 
} 
#theater .comentarios.noventaYDos{ 
    padding-top: 92px; 
} 
#theater .comentarios.open{ 
    transition-delay: 235ms; 
    transform: rotateY(0deg); 
}
#theater .comentarios .Comentarios{
    flex-grow: 1; 
    /*background: blueviolet; 
    border: 1px solid; */ 
    overflow-x: hidden; 
    width: 100%; 
    padding-right: 12px; 
}
#theater .comentarios .Comentarios::after {
    content: "";
    height: 12px;
    width: 100%;
    display: block;
}
#theater .comentarios::before {
    width: 13px;
    height: 17px;
    position: absolute;
    right: 0;
    background: white;
    content: "";
    top: 58px;
    z-index: 2;
}
#theater .comentarios .Comentarios .comentario{ 
    position: relative; 
    font-size: 13px; 
    margin-top: 12px;
    word-break: break-word; 
} 
#theater .comentarios .Comentarios .comentario:first-child{ 
    margin-top: 12px; 
} 
#theater .comentarios .Comentarios .Respuestas, #theater .comentarios .Comentarios .RespueNtas{ 
    color: #323232; 
    font-size: 12px; 
    margin-left: 12px; 
    cursor: pointer; 
} 
#theater .comentarios .Comentarios .RespueNtas span{ 
    color: #df5455 !important; 
} 
#theater .comentarios .Comentarios .RespueNtas span:active{ 
    color: #ff0707 !important; 
} 
#theater .comentarios .Comentarios .Responder, #theater .comentarios .Comentarios .Respxxder{ 
    color: #323232; 
    font-size: 12px; 
    cursor: pointer; 
    position: relative; 
} 
#theater .comentarios .Comentarios .Respxxder{ 
    color: #df5455 !important; 
} 
#theater .comentarios .Comentarios .Respxxder:active{ 
    color: #ff0707 !important; 
} 
#theater .comentarios .Comentarios .respuestas{ 
    padding-left: 12px; 
} 
#theater .comentarios .Comentarios .respuestas:first-child{ 
    margin-top: 12px; 
} 
#theater .comentarios .Comentarios .respuestas .comentario.hidden{ 
    display: none; 
} 
#theater .comentarios .Comentarios .respuestas .respuestas.hidden{ 
    display: none; 
} 
#theater .comentarios .Comentarios .comentario div{ 
    position: absolute; 
    left: 0; 
    top: 0; 
    cursor: pointer; 
} 
#theater .comentarios .Comentarios .Responder:after, #theater .comentarios .Comentarios .Respxxder:after{ 
    content: " \e904"; 
    font-family: "icomoon"; 
    vertical-align: middle; 
    cursor: pointer; 
    display: inline-block;  
} 
#theater .comentarios .Comentarios .Respuestas .Responder::after, #theater .comentarios .Comentarios .RespueNtas .Responder::after {
    left: -22px; 
    position: absolute; 
    top: 2px; 
    word-break: break-word; 
}
#theater .comentarios .Comentarios .respuestas{ 
    padding-left: 12px; 
} 
#theater .comentarios .Comentarios .comentario img{ 
    height: 20px; 
    border-radius: 50%; 
    padding: 4px 4px 4px 4px; 
    z-index: 2; 
    position: relative; 
    cursor: pointer; 
    object-fit: cover;
    width: 20px;
} 
#theater .comentarios .Comentarios .comentario .is{ 
    color: black; 
    user-select: none; 
} 
#theater .comentarios .Comentarios .comentario .Comentario{ 
    color: #666;  
    padding-left: 7px; 
    margin-left: -7px; 
    word-break: break-word; 
} 
#theater .comentarios .Comentarios .comentario .Comentario i {
    color: inherit;
}
#theater .comentarios .Comentarios .comentario .Comentario .media > p{ 
    white-space: nowrap; 
    left: 0 !important; 
    overflow-x: hidden; 
    text-overflow: ellipsis; 
    padding-left: 84px; 
} 
#theater .comentarios .Comentarios .comentario .Comentario .media{ 
    position: relative !important; 
    width: 100%; 
} 
#theater .comentarios .Comentarios .comentario .Comentario .media .scrubber{ 
    top: unset !important; 
} 
#theater .comentarios .Comentarios .comentario .Comentario .media .play-pause{ 
    z-index: 1; 
} 
/*.RIPonsive{}*/ 
#theater .more{ 
    flex-grow: 1; 
    overflow: hidden !important; 
} 
#theater .info{ 
    z-index: 1; 
} 
#theater .comentarios textarea{ 
    width: 100%; 
    color: #000;
    height: 100%; 
    font-size: 13px;
    max-height: 80px;
    min-height: 26px;
    border-radius: 0px; 
    resize: none; 
    border: 1px solid #b3b3b3; 
    padding: 7px 60px 7px 4px; 
    box-sizing: border-box; 
    font-weight: 400;
    vertical-align: middle;
    overflow: auto;
    line-height: 14px;
    /*background-color: grey; */ 
} 
#theater .comentarios .newComment{ 
    /*bottom: 87px; 
    position: absolute; */ 
    max-height: 80px; 
    width: 100%; 
    position: relative; 
} 
#theater .comentarios > .newComment::before{ 
    width: 13px; 
    height: 17px; 
    position: absolute; 
    right: 0; 
    background: white; 
    content: ""; 
    top: -17px; 
    z-index: 2; 
} 
.moreI{ 
    display: none; 
} 
.photo.mult_img, .poster{ 
    width: 220px; 
    height: 220px; 
    object-fit: cover; 
 } 
 .audiojs .play::after {
    font-family: "icomoon";
    content: "\e603";
    font-size: 40px;
}
.audiojs .loading::after {
    font-family: "icomoon";
    content: "\e603";
    font-size: 40px;
}
.audiojs .pause::after {
    font-family: "icomoon";
    content: "\e602";
    font-size: 40px;
}
.audiojs .scrubber { 
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    border: none; 
    cursor: pointer; 
    background: #ddd; 
}
.audiojs .scrubber .progress, .audiojs .scrubber .loaded { 
    height: 100%; 
}
.audiojs .scrubber .progress { 
    background: #2ecc71 !important; 
}
.audiojs .scrubber .loaded { 
    background: #ccc !important; 
}
.audiojs .time { 
    display: none;  
}
.audiojs .play-pause {
    border-right: none; 
    margin: 25px 0 0 22px !important; 
    padding: 0 !important; 
    width: 40px; 
    cursor: normal !important; 
}
.audiojs p { 
    cursor: default !important; 
}
.media {
    position: relative; 
    height: 80px; 
}
.media > div {
    width: 100%;
    height: 100%;
    background: #fff;
    box-shadow: none;
}
.media > p { 
    position: absolute;
    right: 0;
    font-size: 11.5px;
    color: #666;
    bottom: 15px;
} 
.info  .time {
    color: #aaa;
    font-size: 14px;
    margin: 0;
}
#theater .info img {
    position: absolute;
    display: inline-block;
    object-fit: contain;
    height: 100% !important;
    width: 40px; 
}
.info a:hover { 
    text-decoration: none !important; 
} 
header nav ul li#right-menu #store::before {
    /*background-image: url("https://www.freepnglogos.com/uploads/santa-hat-png/download-santa-hat-png-transparent-image-and-clipart-2.png");*/ 
    background-repeat: no-repeat;
    height: 16px;
    display: inline-block;
    width: 16px;
    background-size: contain;
    background-position-x: -3px;
}
.ui-tooltip{ 
    padding: 6px 10px !important; 
} 
header{ 
    position: fixed; 
    top: 0; 
    z-index: 3; 
} 
#root {
    background-color: #fff;
    width: 100%;
    padding: 20px;
    border-bottom: solid 2px #ccc;
    list-style-type: none;
    margin: 0;
    display: flex;
    overflow-x: auto;
    padding-right: 225px;
    box-sizing: border-box;
}
body{ 
    padding-top: 46px; 
}
.Editado {
    float: right;
    color: #aaa;
    font-size: 14px;
}
.Cont {
    position: absolute; 
    bottom: 5px; 
    background: #2ecc71; 
    height: 27px; 
    width: 161px; 
    padding: 0 5px; 
    box-sizing: border-box; 
    display: flex; 
    flex-flow: row; 
}
.Cont .rol{
    flex-grow: 1; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    position: unset !important; 
}