#wrapper
{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: 3;
}   
.theater
{
    display:none;
}
#theater
{
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    position: fixed;
    height: 500px;
    z-index: 3;
    top: 20px;
    max-width: 1400px;
}
#theater #picContainer
{
   position: absolute;
    height: 100%;
    background-color: #fff; 
    width: 100%; 
    padding-right: 340px; 
    box-sizing: border-box; 
} 
#theater #bigPic
{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: auto ;
}

#theater .info p
{
    
   font-size: 14px;
       width: auto !important;
padding-left: 47px;

}
#theater .title
{
    
  color: #666;
    font-weight: bold

}
#theater .more
{
  color: #666;
  font-size: 15px;
    margin: 0;
}
.options
{
    
    height: 60px;
    

}
.options ul
{
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 50px;
    height: 100%;
    vertical-align: middle;
    text-align: center;
} 
#theater .options
{
   
    bottom: 0;
position: absolute;
width: 100%;
left: 0;
    
} 
#theater .options ul
{
   
    line-height: 0;
    
} 
#theater .options ul li
{
   
font-size: 40px    
} 
.options ul li
{
display: inline-block;
    width: 30%;;
    margin: 0;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-family: "icomoon";
    line-height:50px;
    font-size: 40px;
    cursor: pointer;
    
    
} 
.options ul li.bookmark:after
{
content: "\f097"
} 
.options ul li.bookmark.true:after
{
content: "\f02e"
} 
.options ul li.star:after
{
content: "\e60d"
} 
.options ul li.star.true:after
{
content: "\e60c"
} 
.options ul li.read:after
{
content: "\e627"
} 

#theater .comments
{
    width: 300px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 20px;
    background-color: #fff; 
    height: 100%; 
    box-sizing: border-box; 
    padding: 20px 0; 
}
#theater .comments #close
{
    text-align: right;
    font-size: 9px;
    color: #bbb;
    margin: 5px 5px;
    font-family: "icomoon";
    position: absolute;
    top: 0;
    right: -20px;
    padding: 2px;
    cursor: pointer
    
}

#theater .comments #close:before
{
    content: "\e60e"
}
.info 
{ 
    position: relative; 
} 
.info img
{
    position: absolute;
    display: inline-block;
    object-fit: contain;
    height: 100% !important;
}
.info p
{
    margin: 0;
        color: #666;

    position: static;
   font-size: 13px ;
    display: inline-block;
    width:  140px;
    vertical-align: top;
}
.info  p a{
  font-weight: bold;
}
*
{ 
    color: #2ecc71; 
    font-family: "Open Sans"; 
} 
.photo .info, .photo .title, .photo #picture, .photo .options
{
    display: none; 
}
.photo 
{ 
    display: inline-block; 
} 
.tool
{
    width: 280px; 
    height:150px; 
    background: #fff; 
    position:relative;
}
.tool .datos .rol
{
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 5px;
    margin: auto;
    width: 100%;
    font-size: 20px; 
    background: #2ecc71;
}
.tool .datos .username
{
    position: absolute;
    top: 55px;
    margin: auto;
    width: 100%;
    font-size: 16px; 
    padding-left: 5px; 
    box-sizing: border-box;
}
.tool .datos
{
    position: absolute; 
    z-index: 3; 
    bottom: 0; 
    left: 114px; 
    width: 161px; 
    height:109px;
}
.tool .datos .actions
{
    margin: 0;
    padding: 0;
}
.tool .datos .actions li
{
    display: inline-block;
    width: 
    list-style: none;
    width: 30%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
}
.tool img
{
    z-index: 2; 
    border-radius: 50%; 
    margin:5px;
    position:absolute; 
    padding: 4px; 
    bottom: 0;
    height: 90px;
    width: 90px;
}
.tool canvas
{
    position: absolute; 
    bottom: 3px; 
    left: 3px; 
}
.tool p.username
{ 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} 
.city .thumbnail {
    height: 100%;
    width: 80px;
    border-radius: 0;
    left: 0;
    object-fit: cover;
    margin: 0;
    border: 5px solid #fff;
    padding: 0;
}
.city .introduction {
    height: 100%;
    width: 185px;
    float: right;
    overflow-y: scroll;
    font-size: 12px;
    padding: 5px;
    box-sizing: border-box;
    margin-top: -10px;
    color: #666;
}
.city .thumbnail:hover {
    width: auto;
}
.insignia
{
    position: absolute; 
    width: 100%; 
    border-bottom: 3px solid #f1c40f; 
}
a 
{ 
    text-decoration: none; 
} 
a:hover 
{ 
    text-decoration: underline; 
} 
.navigation{ 
    width: 100%; 
    position: relative; 
} 
.photo .navigation, .photo .carr, .photo .picture{ 
    height: 100%; 
} 
.photo .carr, .mult_img .carr{ 
    writing-mode: vertical-lr; 
    width: 100%; 
    overflow: hidden; 
} 
.photo .picture, .mult_img .picture{ 
    width: 100%; 
} 
.photo .picture .pic, .mult_img .picture .pic{ 
    width: 100%; 
    object-fit: contain; 
} 
.nav_arrow{ 
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    font-family: "icomoon"; 
    height: 100%; 
    position: absolute; 
    text-align: center; 
} 
.nav_arrow .arrow{ 
    font-family: "icomoon"; 
} 
.nav_arrow .arrow::after {
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.nav_arrow.disabled .arrow {
    color: #ccc;
}

.nav_arrow.left .arrow:after{ 
    content: "\e902"; 
} 

.nav_arrow.left{ 
    left: 0; 
} 
.nav_arrow.right{ 
    right: 0; 
} 
.nav_arrow.right .arrow:after{ 
    content: "\e901"; 
} 
#theater .nav_arrow.left{ 
    left: 1.1%; 
    top: 0; 
    position: fixed; 
} 
#theater .nav_arrow.right{ 
    right: 1.1%; 
    top: 0; 
    position: fixed; 
} 
#theater{ 
    height: 100%; 
    position: fixed; 
    top: 0; 
    box-sizing: border-box; 
    padding: 20px 0;
    width: 90%; 
} 
#theater > section{ 
    background-color: #fff; 
    height: 100%; 
    position: relative; 
} 
#theater .description{ 
    display: flex;
    flex-flow: column;
    position: absolute;
    top: 0;
    height: 100%;
    box-sizing: border-box;
    padding: 58px 0 87px 0;
}
/*.RIPonsive{}*/ 
#theater .more{ 
    flex-grow: 1; 
    overflow: hidden !important; 
} 
#theater .info{ 
    z-index: 1; 
} 
.moreI{ 
    display: none; 
} 
.photo.mult_img{ 
    width: 220px; 
    height: 220px; 
 } 
.info  .time {
    color: #aaa;
    font-size: 14px;
    margin: 0;
}
#theater .info img {
    position: absolute;
    display: inline-block;
    object-fit: contain;
    height: 100% !important;
    width: 40px; 
}
.info a:hover { 
    text-decoration: none !important; 
} 