#wrapper
{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: 3;
}   
.theater
{
    display:none;
}
#theater
{
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    position: fixed;
    height: 500px;
    background-color: #fff;
    z-index: 3;
    top: 20px;
    max-width: 1400px;
}
#theater #picContainer
{
    position: relative;
    height: 100%;
    background-color: #fff
} 
#theater #bigPic
{
   position: absolute;
     width: 100%;
       height: 100%;
top: 0;
bottom: 0;
left: 0;
object-fit: contain;
margin: auto ;

}

#theater .info p
{
    
   font-size: 14px;
       width: auto !important;


}
#theater .title
{
    
  color: #666;
    font-weight: bold

}
#theater .more
{
  color: #666 !important;
  font-size: 15px;
    margin: 0;
}

.options
{
    
    height: 60px;
    

}
.options ul
{
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 50px;
    height: 100%;
    vertical-align: middle;
    text-align: center;
} 
#theater .options
{
   
    bottom: 0;
position: absolute;
width: 100%;
left: 0;
    
} 
#theater .options ul
{
   
    line-height: 0;
    
} 
#theater .options ul li
{
   
font-size: 40px    
} 
.options ul li
{
display: inline-block;
    width: 30%;;
    margin: 0;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-family: "icomoon";
    line-height:50px;
    font-size: 30px;
    cursor: pointer;
    
    
} 
.options ul li.bookmark:after
{
content: "\f097"
} 
.options ul li.bookmark.true:after
{
content: "\f02e"
} 
.options ul li.star:after
{
content: "\e60d"
} 
.options ul li.star.true:after
{
content: "\e60c"
} 
.options ul li.read:after
{
content: "\e627"
} 
#theater .comments
{
    width: 300px;
    display: inline-block;
     padding: 20px;
    position: absolute;
top: 0;
right: 0;
}
#theater .comments #close
{
    text-align: right;
    font-size: 9px;
    color: #bbb;
    margin: 5px 5px;
    font-family: "icomoon";
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px;
    cursor: pointer
    
}

#theater .comments #close:before
{
    content: "\e60e"
}
#gallery img 
{ 
    cursor: pointer; 
} 
.info  img{
    height: 40px !important;
    width: 40px!important;
    cursor: pointer;
}
.story .info  p{
    width: auto !important;
    font-size: 15px
}
.info  .time {
    color: #aaa;
    font-size: 14px;
    margin: 0;
   
}
.info  p a{
  font-weight: bold;
    text-decoration: none;
}
#theater .title
{
    
  color: #666;
    font-weight: bold

}
#theater .more
{
  color: #666 !important;
  font-size: 15px;
    margin: 0;
}

.options
{
    
    height: 60px;
    

}
.options ul
{
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 50px;
    height: 100%;
    vertical-align: middle;
    text-align: center;
} 
#theater .options
{
   
    bottom: 0;
position: absolute;
width: 100%;
left: 0;
    
} 
#theater .options ul
{
   
    line-height: 0;
    
} 
#theater .options ul li
{
   
font-size: 40px    
} 
.options ul li
{
display: inline-block;
    width: 30%;;
    margin: 0;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-family: "icomoon";
    line-height:50px;
    font-size: 30px;
    cursor: pointer;
    
    
} 
.options ul li.bookmark:after
{
content: "\f097"
} 
.options ul li.bookmark.true:after
{
content: "\f02e"
} 
.options ul li.star:after
{
content: "\e60d"
} 
.options ul li.star.true:after
{
content: "\e60c"
} 
.options ul li.read:after
{
content: "\e627"
} 
#theater .comments
{
    width: 300px;
    display: inline-block;
     padding: 20px;
    position: absolute;
top: 0;
right: 0;
}
#theater .comments #close
{
    text-align: right;
    font-size: 9px;
    color: #bbb;
    margin: 5px 5px;
    font-family: "icomoon";
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px;
    cursor: pointer
    
}

#theater .comments #close:before
{
    content: "\e60e"
}
.info img
{
    position: static;
    display: inline-block;
}
.info p
{
    margin: 0;
        color: #666;

    position: static;
   font-size: 13px ;
    display: inline-block;
    width:  140px;
    vertical-align: top;
}
*
{ 
    color: #2ecc71; 
} 

#file_expl 
{ 
    white-space: nowrap; 
    display: flex; 
    display: -webkit-box; 
    display: -moz-box; 
    display: -ms-flexbox; 
    display: -webkit-flex; 
} 

#file_expl #files, #file_expl #preview 
{ 
    width: 50%; 
    height: 100%; 
    display: inline-block; 
    white-space: normal; 
} 
  
#files .ui-resizable-e 
{ 
    background-color: white; 
} 
  
#file_tree 
{ 
    list-style: none; 
    padding: 0; 
    margin:0; 
} 
  
#file_tree li { 
    padding: 0; 
    border-bottom: none; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    visibility: hidden; 
    opacity: 0; 
    height: 0; 
    transition: top 100ms ease-in-out, visibility 0ms ease-in-out, opacity 100ms ease-in-out; 
} 
  
#file_tree li:hover { 
   text-decoration: underline; 
   cursor: pointer; 
} 

#file_tree .folder { 
    background-color: #def; 
    width: 100%; 
    box-sizing: border-box; 
} 
  
#file_tree .file { 
    color: #666; 
    width: 100%; 
    box-sizing: border-box; 
} 

#file_expl #information_cont 
{ 
    position: absolute; 
    width: 100%; 
    top: 26.4px; 
    visibility: hidden; 
    opacity: 0;
    transition: visibility 0ms ease-in-out, opacity 382ms ease-in-out; 
    color: #666 !important; 
    box-sizing: border-box; 
} 

#file_expl #information_cont.visible
{ 
    visibility: visible; 
    opacity: 1;
} 
  
#file_expl #information
{ 
    width: 100%; 
    height: 100%; 
    box-sizing: border-box; 
    padding: 21px; 
} 
  
#file_tree li.inScope 
{ 
    height: auto; 
    visibility: visible; 
    opacity: 1; 
    padding: 1.7px 10px; 
    border-bottom: 0.1px solid #ccc; 
} 

#file_tree .folder_cont.inScope>.folder:first-child
{ 
    height: auto; 
    visibility: visible; 
    opacity: 1; 
    padding: 1.7px 10px; 
    border-bottom: 0.1px solid #ccc; 
} 