#grid, #water, #holes
{
	font-family: monospace; 
	width: 60em; 
	font-size: 10px; 
	height: 14em; 
	resize: none; 
	background-color: #0000; 
	border: 1px solid grey; 
	padding: 2px; 
	position: absolute; 
}
#water 
{ 
	color: blue; 
} 