body
{
	padding-top: 46px; 
	box-sizing: border-box; 
	overflow-y: hidden; 
}
#biography #content
{
	margin: 0 auto; 
    position: static; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    position: absolute; 
    padding-top: 46px; 
    box-sizing: border-box; 
}
#theater
{
	height: 100%; 
	box-sizing: border-box; 
	width: 100%; 
	margin: 0; 
	padding: 0 205px 0 0; 
	position: static; 
	float: right;
	max-width: unset;
}
#biography
{
	width: 100% !important; 
	top: 0; 
	position: absolute; 
	padding-top: 46px; 
	box-sizing: border-box; 
	margin-top: unset; 
	height: 100%; 
}
#sidebar
{
	height: 100% !important; 
	padding-top: 46px;
	box-sizing: border-box;
}
.nav_arrow
{
	padding-top: 46px; 
	box-sizing: border-box; 
}
.carr
{
	height: 100%; 
	writing-mode: vertical-lr; 
	width: 100%; 
	overflow-x: hidden; 
}
.carr .picture .pic{ 
    width: 100%; 
} 
#theater img
{
	height: 100%; 
	object-fit: contain; 
}
.navigation
{
	height: 100%;
}
.picture {
    height: 100%;
    width: 100%;
}
#theater .nav_arrow.right {
    right: 552.9px;
}
.vjs-poster
{
	padding-bottom: unset !important; 
	margin-bottom: 44px; 
}