@font-face

{
    font-family: 'icomoon';
    font-style: normal;
    font-weight: normal;
    src: url('../resources/fonts/icomoon.eot?4v3ev0');
    src: url('../resources/fonts/icomoon.eot?#iefix4v3ev0') format('embedded-opentype'), url('../resources/fonts/icomoon.woff?4v3ev0') format('woff'), url('../resources/fonts/icomoon.ttf?4v3ev0') format('truetype'), url('../resources/fonts/icomoon.svg?4v3ev0#icomoon') format('svg');
}

* {
    color: #2ecc71;
    font-family: "Open Sans", sans-serif;
}
a{
    text-decoration: none;
    }
html,
body {
    height: 100%;
}
header {
    background-color: #fff;
    border-bottom: solid 6px #ccc;
    font-size: 24px;
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}
header #Options{
    float: right;
    margin-right: 250px;
    height: 46px;
    padding: 0;
}
header #Options .options li{
    width: 50%;
    margin: 0;
    line-height: 32px;
    top: 0;
    font-size: 35px;
}
header.open #Options .options li{
   
    color: #fff;

}
header>nav>ul>li {
    display: table-cell;
    list-style-type: none;
    padding: 0 10px 0 5px;
    vertical-align: middle;
}
header nav {
    display: table;
    height: 100%;
    width: 100%;
}

header nav .back-arrow {
    font-family: "icomoon";
    padding-left: 5px;
        
}
header nav .index-arrow {
    font-family: "icomoon";
    padding-left: 5px; 
    position: absolute;
    right: 4px;
    top: 7px;

}
header nav .back-arrow:before
{
  content:"\e635"
}
header nav .index-arrow:before {
    content: "\e605"
    
}
header nav .index-arrow.open:before {
    color: #2ecc71;
    content: "\e604";
}
header nav ul {
    display: table-row;
    height: 100%;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
header>nav>ul>li#controls span {
    cursor: pointer;
    position:absolute;
    top:0;
}
header>nav>ul>li#controls #play {
    font-family: "icomoon";
    font-size: 40px;
}
header>nav>ul>li#controls #play:before {
     content: "\e603"
}
header>nav>ul>li#controls #play.playing:before {
     content: "\e602"
}
header>nav>ul>li.index .text {
    left: 28px;
    padding-left: 7px;
    position: absolute;
    top: 3px;
    z-index: 1;
}
header>nav>ul>li#right-menu {
    cursor: pointer;
    padding-right: 46px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}
header>nav>ul>li#right-menu #profileSettings.open {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    height: 150px;
    position: absolute;
    right: 0;
    top: -3px;
    width: 80px;
    z-index: -1;
}
header>nav>ul>li#right-menu #dots-icon:before {
    content: "\e608";
    font-family: "icomoon";
    font-size: 16px;
}
header>nav>ul>li#right-menu #profileSettings {
    -moz-transition: height 100ms ease-in-out, box-shadow 100ms ease-in-out, opacity 100ms ease-in-out;
    -ms-transition: height 100ms ease-in-out, box-shadow 100ms ease-in-out, opacity 100ms ease-in-out;
    -o-transition: height 100ms ease-in-out, box-shadow 100ms ease-in-out, opacity 100ms ease-in-out;
    -webkit-transition: height 100ms ease-in-out, box-shadow 100ms ease-in-out, opacity 100ms ease-in-out;
    background-color: #fff;
    box-shadow: none;
    height: 0;
    position: absolute;
    right: 0;
    top: -3px;
    transition: height 100ms ease-in-out, box-shadow 100ms ease-in-out, opacity 100ms ease-in-out;
    width: 80px;
    z-index: 3;
}
header>nav>ul>li#right-menu #profileTrigger {
    height: 47px;
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    z-index: 1;
}
header>nav>ul>li#right-menu .back-arrow {
    position: absolute;
    right: 5px;
    top: 6px;
}
header>nav>ul>li#right-menu #profile {
    position: absolute;
    right: 30px;
    top: 3px;
}
header>nav>ul>li#right-menu #profile #profile-pic {
    border-radius: 50%;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 25px;
}
header>nav>ul>li#right-menu #store {
    left: 0;
    margin-right: 12px;
    position: absolute;
    top: 3px;
}
header>nav>ul>li#right-menu #store:before {
    content: "\e600";
    font-family: "icomoon";
    font-size: 28px;
    margin-right: 2px;
}
header>nav>ul>li#right-menu #dots {
    height: 38px;
    margin-right: 55px;
    padding-left: 35px;
    padding-top: 3px;
}
header>nav>ul>li#index {
    padding: 0;
    position: relative;
    width: 130px;
}
header>nav>ul>li#index #index-menu.open {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    display: block;
    height: 130px;
    left: 0;
    opacity: 1;
    padding-top: 47px;
    position: absolute;
    top: 0;
    z-index: 2;
}
header>nav>ul>li#index #index-trigger {
    cursor: pointer;
    height: 47px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}
header>nav>ul>li#index #index-trigger .back-arrow {
    position: absolute;
    top: 4px;
    left: -2px;
}
header>nav>ul>li#index #index-trigger #index-text {
    left: 1em;
    position: absolute;
    top: 3px;
}
header>nav>ul>li#index #index-menu {
    -moz-transition: height 100ms ease-in-out, box-shadow 100ms ease-in-out, opacity 100ms ease-in-out;
    -ms-transition: height 100ms ease-in-out, box-shadow 100ms ease-in-out, opacity 100ms ease-in-out;
    -o-transition: height 100ms ease-in-out, box-shadow 100ms ease-in-out, opacity 100ms ease-in-out;
    -webkit-transition: height 100ms ease-in-out, box-shadow 100ms ease-in-out, opacity 100ms ease-in-out;
    background-color: #fff;
    height: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: height 100ms ease-in-out, box-shadow 100ms ease-in-out, opacity 100ms ease-in-out;
    width: 130px;
}
header>nav>ul>li#index #index-menu ul li.open {
    cursor: pointer;
    display: block;
    font-size: 16px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-top: 5px;
    width: 100%;
}
header>nav>ul>li#index #index-menu ul li {
    color: #afafaf;
    display: none;
    list-style: none;
    overflow: hidden;
    padding-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
header>nav>ul>li#index #index-menu ul li a {
    color: #afafaf;
    text-decoration: none;
}
header>nav>ul>li#index .text.open,
header>nav>ul>li#index span:first-child.open {
    color: #2ecc71;
}
input {
    background-color: #fff;
    border: none;
    border-radius: 4px;
}
input:focus {
    border-bottom: 2px #ccc solid;
    outline: 0;
}
.button {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}
#root {
  margin-top: 47px;
}

#video {
    margin-top: 6px
}
#example_video_1 {
    width: 100%
}
#Store {
    background-color: #ecf0f1;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
#Store #actualStore {
    background-color: #ecf0f1;
    bottom: 7px;
    position: absolute;
    width: 100%;
}
#Store #actualStore #storeSection {
    background-color: #fff;
    display: inline-block;
    float: right;
    height: 100%;
    padding: 40px;
    width: 70%;
}
#Store #actualStore #storeList {
    background-color: #fff;
    display: inline-block;
    height: 100%;
    width: 20%;
}
#Store #actualStore #storeList ul li {
    color: #afafaf;
    cursor: pointer;
    display: block;
    font-size: 25px;
    list-style: none;
    overflow: hidden;
    padding-bottom: 5px;
    padding-top: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
header.open {
    background-color: #2ecc71;
    border-bottom: solid 6px #27ae60;
    height: 40px;
    width: 100%;
    z-index: 3;
}
#Store.open {
    display: block
}
.openedStore {
    color: #fff
}
/*sombra #ccc
normal #fff*/

#sidebar  .story{
    width: 100%;
    background-color: #fff;
    margin: 0 auto 4px auto;
    padding: 10px
}
.info{
    width: 100%;
    height: 40px;
    position: relative;
     padding: 0;
    margin: 0;

}
.story .info
{
    display: none;
    height: 40px;
 }   
.info  img{
    height: 40px !important;
    width: 40px!important;
    position: absolute;
    cursor: pointer;
}
.info  p{
    color: #666;
    font-size: 15px;
    display: inline-block;
    margin: 0 ;
    position: absolute;
    top: 0;
    left: 45px;
}
.info  .time {
    color: #aaa;
    font-size: 13px;
    margin: 0;
    position: absolute;
    top: auto;
    bottom: 0;
    left: 44px;
}
.story .info  .time {
   left: 45px
}
.info  p a{
  font-weight: bold;
    text-decoration: none;
}
#sidebar  .story .title{
 font-size: 20px;
    color: #666;
    margin: 0 0 10px 0;
    overflow-x:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#sidebar  .story .more {
text-align: center;
    margin: 0;
   
    padding: 15px 0;
}
#sidebar  .story .more a{
text-align: right;
text-decoration: none;

}
#sidebar  .story img{
width: 100%;
cursor: pointer
}
#wrapper
{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: 3;
}   
.theater
{
    display:none;
}
#theater
{
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    position: fixed;
    height: 500px;
    background-color: #fff;
    z-index: 3;
    top: 20px;

}
#theater img
{
    


}
#theater #picContainer
{
    height: 100%;


}
#theater .title
{
    
  color: #666;
    font-weight: bold

}
#theater .more
{
  color: #666;
  font-size: 15px;
    margin: 0;
    overflow: hidden
}
.options
{
    
    height: 50px;
}
.options ul
{
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 50px;
    height: 100%;
    vertical-align: middle;
    text-align: center;
} 
#theater .options ul
{
   
    line-height: 70px;
    
} 
.options ul li
{
display: inline-block;
    width: 30%;;
    margin: 0;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-family: "icomoon";
    line-height:50px;
    font-size: 40px;
    cursor: pointer;
    
    
} 
.options ul li.bookmark:after
{
content: "\f097"
} 
.options ul li.bookmark.true:after
{
content: "\f02e"
} 
.options ul li.star:after
{
content: "\e60d"
} 
.options ul li.star.true:after
{
content: "\e60c"
} 
.options ul li.read:after
{
content: "\e627"
} 

#theater .comments
{
    width: 300px;
    display: inline-block;
     padding: 20px;
    position: absolute;
top: 0;
right: 0;
}
#theater .comments #close
{
    text-align: right;
    font-size: 9px;
    color: #bbb;
    margin: 5px 5px;
    font-family: "icomoon";
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px;
    cursor: pointer
    
}
#article .options
{
    position: absolute;
    bottom: 0;
    top: auto;
    width: 130px;
    right: 0;


}
#article .options:first-child
{
    top: 0;
}

#article .options ul li
{
    width: 40%;
    font-size: 40px;
    color: #e74c3c;

} 
#article #title 
{
    text-align: center;
    margin: 80px auto 0 auto;
    width: 80%;
    font-size: 50px;
    color: #666;

   
 } 
#article{
    position: relative;
    text-align: center;
    
}
#article #text
{
    width: 60%;
    margin: 0 auto;
    color: #7A7A7A;
    padding: 20px;
    font-size: 20px;
    text-align: left;
 }  
#article>img
{
    margin: 40px 0 0 0;
    color: #7A7A7A;
    font-size: 20px;
    max-width: 90%;
 }  

#article #text p
{
    color: #7A7A7A;
    
 } 
#article #text h2
{
    color: #7A7A7A;
    font-size: 35px;
    font-weight: bold;
    
 } 
#theater .comments #close:before
{
    content: "\e60e";
}
#sidebar{
    padding: 0 20px 0 3px;
    position: fixed;
    right: 0;
    top: 46px;
    width: 250px;
    background-color: #ecf0f1;
    z-index: 1;
    overflow-y: scroll;
    overflow-x: hidden;
}

.token.tag-id{
	color: #f92672 !important;
}
.code-scroll{
    overflow-x: scroll;
    width: 100%;
    margin-top: 44px
}
.code-filler
{
    height: 2px
}
/* -------------------------------- 

Primary style

-------------------------------- */




/* -------------------------------- 

Main components 

-------------------------------- */


.cd-image-container {
  position: relative;
  width: 90%;
  max-width: 340px;
  margin: 0em auto;
    text-align: center;

}
.cd-image-container img {
margin: 0 auto;
  display: block;
}

.cd-image-label {
  position: absolute;
  top: 0px;
  right: 0;
    font-size: 25px;
  color: #333;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0.3s 0.7s;
  -moz-transition: -moz-transform 0.3s 0.7s, opacity 0.3s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0.3s 0.7s;
    
}
.cd-image-label.is-hidden {
  visibility: hidden;
}
.is-visible .cd-image-label {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.cd-resize-img {

  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-resize-img img {
  position: absolute;
  left: 34px;
  top: 0;
  display: block;
  height: 100%;
  width: auto;
  max-width: none;
}
.cd-resize-img .cd-image-label {
  right: auto;
  left: 0;
}
.is-visible .cd-resize-img {
  width: 50%;
  /* bounce in animation of the modified image */
  -webkit-animation: cd-bounce-in 0.7s;
  -moz-animation: cd-bounce-in 0.7s;
  animation: cd-bounce-in 0.7s;
}

@-webkit-keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
@-moz-keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
@keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
.cd-handle {
  position: absolute;
  height: 44px;
  width: 44px;
  /* center the element */
  left: 50%;
  top: 50%;
  margin-left: -22px;
  margin-top: -22px;
  border-radius: 50%;
  background: #fff url("../../resources/images/article/cd-arrows.svg") no-repeat center center;
  cursor:w-resize;
  box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) scale(0);
  -moz-transform: translate3d(0, 0, 0) scale(0);
  -ms-transform: translate3d(0, 0, 0) scale(0);
  -o-transform: translate3d(0, 0, 0) scale(0);
  transform: translate3d(0, 0, 0) scale(0);
}
.cd-handle.draggable {
  /* change background color when element is active */
  background-color: #ecf0f1;
}
.is-visible .cd-handle {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -moz-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  -o-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
  -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0s 0.7s;
  -moz-transition: -moz-transform 0.3s 0.7s, opacity 0s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0s 0.7s;
}
