body{ 
  position: relative; 
} 
dsrtg{ 
  width: 100%; 
  display: block; 
} 
#rawrrawrrawrrawr{ 
  width: 100%; 
  overflow-x: scroll; 
} 
#rawr{ 
  overflow-x: hidden; 
  width: 985845px; 
} 
#lasrxs, #me, #vrbl{ 
  border: #000 1px dashed;  
  margin: 2px; 
} 
.rwr{ 
  background-color: #66bb48; /*Misteriouscolrws*/
  width: 71.4px; 
  height: 102px; 
  margin: 3px; 
  display: inline-block; 
  position: relative; 
} 
.rwrwr{ 
  background-color: #fe3338; /*Misteriouscolrws*/
  width: 71.4px; 
  height: 102px; 
  margin: 3px; 
  display: inline-block; 
  position: relative; 
  cursor: grab; /*Innovatiplusonal*/
} 
.rwrwr:active{ 
  cursor: grabbing; 
} 
.rwarr{ 
  position: absolute; 
} 
#dinosaurios input{ 
    color: #433ccf; 
    outline: 1px solid rgba(250, 250, 250, 0); 
    transition: outline 210ms ease-in; 
} 
#dinosaurios input:focus{ 
    outline: 1px solid #433ccf; 
} 